*,
:after,
:before {
  box-sizing: border-box;
}

*:focus-visible {
  outline-offset: 3px;
  outline: -webkit-focus-ring-color auto 2px;
  transition: none !important;
}
*.focus-inside:focus-visible {
  outline-offset: -3px;
}
.no-js [data-aos]:not(.aos-animate, .aos-init, [data-aos="animation"]) {
  opacity: 1 !important;
  transform: unset !important;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #eee;
  scrollbar-color: red;
  scrollbar-width: thin;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
}

*::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
.lazyloading,
.lazyload {
  opacity: 0.7;
  filter: blur(12px);
  will-change: filter, opacity;
}

.lazyloaded:not(.img-hovered) {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 1, 1),
    filter 0.3s cubic-bezier(0.4, 0, 1, 1), 0.4s cubic-bezier(0.4, 0, 1, 1);
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
p,
pre,
textarea {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 14px;
}

button,
input,
textarea {
  color: inherit;
  margin: 0;
  border-radius: 0;
  -webkit-border-radius: 0px;
  color: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

footer,
header,
section {
  display: block;
}

details > summary {
  list-style: none;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.action-text {
  color: rgb(var(--color-link));
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

.file-cta,
.select select,
.input,
.file-name,
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  display: inline-flex;
  font-size: var(--text-size-medium);
  height: 2.5em;
  justify-content: flex-start;
  padding: 10px 15px;
  position: relative;
  vertical-align: top;
}

input[disabled],
button[disabled],
select[disabled],
fieldset[disabled] select,
fieldset[disabled] .button,
textarea[disabled],
fieldset[disabled] select,
fieldset[disabled] input,
fieldset[disabled] textarea,
[disabled],
.disabled {
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
  border-color: #7a7a7a;
  box-shadow: none;
  color: #7a7a7a;
}

.deferred-media {
  display: block;
  width: 100%;
  height: 100%;
}

.deferred-media template {
  display: none;
}

.p-static {
  position: static !important;
}

.p-fixed {
  position: fixed !important;
}

.p-absolute {
  position: absolute !important;
}

.p-relative {
  position: relative !important;
}

.p-sticky {
  position: sticky !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-visible {
  overflow: visible !important;
}
.header-icon svg.icon {
  padding: 4px;
}
.icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
}

.icon-large {
  min-width: 28px;
  width: 28px;
  height: 28px;
}

.icon-small {
  min-width: 18px;
  width: 18px;
  height: 18px;
}

.icon-xsmall {
  min-width: 18px;
  width: 18px;
  height: 18px;
}

.icon-xxsmall {
  min-width: 14px;
  width: 14px;
  height: 14px;
}

.button,
shopify-buy-it-now-button .shopify-payment-button__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  font-size: var(--text-size-base);
  padding: 12px 20px;
  background-color: rgb(var(--color-button-background));
  color: rgb(var(--color-button-text));
  border: 1px solid rgb(var(--color-button-border));
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: var(--button-radius);
  letter-spacing: 0.2px;
  margin-top: 20px;
  min-width: 90px;
}

shopify-buy-it-now-button
  .shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgb(var(--color-button-background));
}
button.addtocart-button[disabled] ~ .shopify-payment-button {
  display: none;
}
.button:hover,
shopify-buy-it-now-button .shopify-payment-button__button:hover {
  color: rgb(var(--color-button-text-hover));
  border-color: rgb(var(--color-button-border-hover));
}

.button-secondary {
  background-color: rgba(var(--color-alternate-button-background));
  color: rgba(var(--color-alternate-button-text));
  border-color: rgba(var(--color-alternate-button-border));
}

.button-secondary:hover {
  color: rgba(var(--color-alternate-button-text-hover));
  border-color: rgba(var(--color-alternate-button-border-hover));
}

.button-outline {
  border: 1px solid rgb(var(--color-button-border));
  color: rgb(var(--color-button-background));
  background: transparent;
}

.button-outline:hover {
  color: rgb(var(--color-button-text));
}

.button > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  z-index: 1;
}

.button:before,
shopify-buy-it-now-button .shopify-payment-button__button:before {
  position: absolute;
  content: "";
  top: 0;
  left: -25px;
  right: -50px;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border-radius: var(--button-radius);
  border-right: 50px solid transparent;
  border-bottom: 80px solid rgb(var(--color-button-background-hover));
  transform: translateX(-100%);
  opacity: 0;
}

.button-secondary:before,
.button-outline:before {
  border-bottom-color: rgba(var(--color-alternate-button-background-hover));
}

.button .button-text {
  padding: 0 6px;
}

.button:hover:before,
.shopify-payment-button__button:hover:before {
  transform: translateX(0);
  opacity: 1;
}

.button-xsmall {
  min-width: 70px;
  min-height: 25px;
  font-size: var(--text-size-xsmall);
  padding: 6px 10px;
}

.button-small {
  min-width: 106px;
  min-height: 36px;
  font-size: var(--text-size-small);
}

.button-medium,
shopify-buy-it-now-button .shopify-payment-button__button {
  min-width: 140px;
  min-height: 58px;
  padding: 14px 20px;
  font-size: var(--text-size-medium);
}

.shopify-payment-button__button--hidden,
button.shopify-payment-button__more-options {
  display: none !important;
}

.button-large {
  font-size: var(--text-size-medium);
  min-width: 160px;
  min-height: 66px;
}

.skip-to-content-link {
  position: absolute !important;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.skip-to-content-link:focus-visible {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  opacity: 1;
  z-index: 999;
  transition: none;
  padding: 10px;
}

.button-underline,
shipping-small-text a {
  background: linear-gradient(currentColor, currentColor) 0 min(100%) / 100% 1px
    no-repeat;
  background-position-x: center;
  transition: background-size 0.3s cubic-bezier(0.3, 1, 0.3, 1);
}

.button-full {
  width: 100%;
}

shipping-small-text a:hover,
:is(.button-underline, .rte a:not(.button)):hover {
  background-size: 0 1px;
}

.hidden {
  display: none !important;
}

.spinner-loading-btn svg {
  display: block;
  width: 30px;
  height: auto;
}

.container,
.container-medium,
.container-small {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-full-width {
  max-width: 100%;
}

.grid-wrapper-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: calc(0px - var(--space-column, 12px));
  margin-left: calc(0px - var(--space-column, 12px));
}

.separator {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-gap: var(--space-column, 0px);
}

.separator > div[class] {
  flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .separator > div[class] {
    max-width: calc(100% / 2 - var(--space-column, 0px));
  }
}

.gutter-0 {
  margin: 0 !important;
}

.gutter-0 div[class*="grid-item-"] {
  padding: 0 !important;
}

.items-align-start {
  align-items: flex-start;
}

.items-align-center {
  align-items: center;
}

.items-align-end {
  align-items: flex-end;
}

.content-justify-start {
  justify-content: flex-start;
}

.content-justify-center {
  justify-content: center;
}

.content-justify-end {
  justify-content: flex-end;
}

.align-self-flext-start {
  align-self: flex-start;
}

.align-self-flex-center {
  align-self: center;
}

.align-self-flex-end {
  align-self: flex-end;
}

.grid-item-l-1,
.grid-item-l-2,
.grid-item-l-3,
.grid-item-l-4,
.grid-item-l-5,
.grid-item-l-6,
.grid-item-l-7,
.grid-item-l-8,
.grid-item-l-9,
.grid-item-l-10,
.grid-item-l-11,
.grid-item-l-12,
.grid-item-md-1,
.grid-item-md-2,
.grid-item-md-3,
.grid-item-md-4,
.grid-item-md-5,
.grid-item-md-6,
.grid-item-md-7,
.grid-item-md-8,
.grid-item-md-9,
.grid-item-md-10,
.grid-item-md-11,
.grid-item-md-12,
.grid-item-sm-1,
.grid-item-sm-2,
.grid-item-sm-3,
.grid-item-sm-4,
.grid-item-sm-5,
.grid-item-sm-6,
.grid-item-sm-7,
.grid-item-sm-8,
.grid-item-sm-9,
.grid-item-sm-10,
.grid-item-sm-11,
.grid-item-sm-12 {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-right: var(--space-column, 12px);
  padding-left: var(--space-column, 12px);
}

ul {
  padding: 0;
  margin: 0;
}

.list-style-none {
  list-style: none;
}

.h1,
h1 {
  font-size: var(--heading-h1);
}

.h2,
h2 {
  font-size: var(--heading-h2);
}

.h3,
h3 {
  font-size: var(--heading-h3);
}

.h4,
h4 {
  font-size: var(--heading-h4);
}

.h5,
h5 {
  font-size: var(--heading-h5);
}

.h6,
h6 {
  font-size: var(--heading-h6);
}

.heading-large {
  font-size: calc(var(--heading-h1) * 0.3);
}

.heading-medium {
  font-size: calc(var(--heading-h2) * 1.5);
}

.heading-small {
  font-size: calc(var(--heading-h1) * 1.5);
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  font-style: var(--font-style-heading);
  line-height: var(--font-line-height-heading);
  letter-spacing: var(--font-letter-spacing-heading);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--color-heading-text));
  margin: 0;
}

.stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
}

.font-heading {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

.font-body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
}

label {
  display: inline-block;
  font-size: var(--text-size-small);
  margin-bottom: 3px;
}

.form-flex-row {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}

.form-flex-row .form-flex-item {
  width: calc(100% / 2 - 10px);
}

.form-flex-item {
  flex-grow: 1;
}

.form-control-input {
  padding: 12px 20px;
  min-height: 56px;
  margin-bottom: 16px;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: var(--text-size-medium);
  color: rgb(var(--color-input-text));
  background-color: rgb(var(--color-input-background));
  border: 1px solid rgb(var(--color-input-border));
  max-width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  -webkit-border-radius: var(--input-radius);
  border-radius: var(--input-radius);
}

textarea.form-control-input {
  padding: 22px 20px;
  border-radius: clamp(0px, var(--input-radius), 20px);
}

.form-control-input::placeholder {
  font-size: 13px;
  color: currentcolor;
}

.form-control-input:focus-visible,
input:focus-visible {
  outline: none;
}

.form-message {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  border-radius: var(--input-radius);
  font-size: var(--text-size-small);
  margin: 15px 0;
}

.error_heading {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.form-message ul {
  width: 100%;
  padding-left: 16px;
}

.form-message ul li {
  font-size: var(--text-size-small);
}

.form-message ul li:not(:last-child) {
  margin-top: 4px;
}

.alerticon {
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  margin-right: 5px;
}

.form-message.success {
  background-color: rgb(var(--color-background-success));
  color: rgb(var(--color-text-success));
}

.form-message.error {
  background-color: rgb(var(--color-background-error));
  color: rgb(var(--color-text-error));
}

.error-heading p {
  margin: 0;
}

.select-box,
.no-js select.form-control {
  background-image: url(https://cdn.shopify.com/s/files/1/0834/9342/1375/files/down-arrow.svg?v=1704023935);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 92% center;
  padding: 16px;
  padding-right: 30px;
  border-radius: var(--input-radius);
  background-color: rgba(var(--color-input-background));
  color: rgba(var(--color-input-text));
  border: 1px solid rgba(var(--color-input-border));
  width: 100%;
  max-width: 200px;
  appearance: none;
  -webkit-appearance: none;
  font-size: var(--text-size-base);
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-size-xlarge {
  font-size: var(--text-size-xlarge);
}

.text-size-large {
  font-size: var(--text-size-large);
}

.text-size-medium {
  font-size: var(--text-size-medium);
}

.text-size-base {
  font-size: var(--text-size-base);
}

.text-size-small {
  font-size: var(--text-size-small);
}

.text-size-xsmall {
  font-size: var(--text-size-xsmall);
}

.media-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: rgb(var(--color-media-background));
}

.media-wrapper::after {
  content: "";
  height: 0;
  display: block;
  padding-top: var(--media-ratio);
}

.media-wrapper iframe,
.media-wrapper video,
.media-wrapper iframe.producut-media-youtube,
.media-wrapper .placeholder-svg,
.media-wrapper img,
.media-wrapper model-viewer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.placeholder-svg {
  background-color: rgba(var(--color-background-foreground), 0.04);
  color: rgba(var(--color-text), 0.4);
  fill: rgba(var(--color-text), 0.4);
  vertical-align: middle;
  width: 100%;
  height: 100%;
  visibility: visible;
}

.media-wrapper img ~ img {
  opacity: 0;
  background-color: rgb(var(--color-media-background));
  transition: all 0.3s ease-in-out;
}

.media-wrapper .hover-slider {
  opacity: 0;
  background-color: rgb(var(--color-media-background));
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
}

.media-wrapper .hover-slider .swiper-slide {
  background: rgb(var(--color-media-background));
}

.hover-slider .media-hover-pagination {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}
.hover-slider .swiper-pagination-bullet {
  background-color: rgba(var(--color-text));
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.hover-slider .media-hover-pagination hover-slide {
  flex: 0 0 calc(100% / var(--media-size));
  width: 100%;
}
.media-wrapper:hover .hover-img,
.media-wrapper:hover .hover-slider,
.media-wrapper:is(:focus-visible, :focus-within) .hover-slider {
  opacity: 1;
  visibility: visible;
}

.collection-tabs-wrapper {
  display: block;
}

tabs-wrapper {
  display: block;
  margin-bottom: 12px;
}

.tab-nav-wrapper {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding-bottom: 4px;
}

.tab-nav-item {
  padding: 4px;
}

.tab-nav-item .tab-nav-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 6px 10px;
  font-size: var(--text-size-base);
  position: relative;
  color: rgb(var(--color-text));
  opacity: 0.8;
}

.tab-nav-item .tab-nav-link.active {
  opacity: 1;
}

.tab-nav-wrapper.border-enabled .tab-nav-link.active {
  border: 1px solid rgb(var(--color-divider));
  border-radius: var(--button-radius);
}

.tab-nav-wrapper.border-enabled .tab-nav-item .tab-nav-link:after {
  content: none;
}

.tab-nav-item + .tab-nav-item .tab-nav-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 80%;
  background-color: rgb(var(--color-card-border));
  transform: translateY(-50%) rotate(6deg);
}

.content-width-medium {
  max-width: 1100px;
}

.content-width-small {
  max-width: 800px;
}

.card-grid-view {
  display: grid;
  --card-item-perrow: 2;
  --card-item-gap: 10px;
  grid: auto-flow dense/repeat(var(--card-item-perrow), minmax(0, 1fr));
  gap: var(--card-item-gap);
}

@media only screen and (max-width: 767px) {
  :root {
    --heading-h1: calc(var(--font-scale-heading) * 50px);
    --heading-h2: calc(var(--font-scale-heading) * 30px);
    --heading-h3: calc(var(--font-scale-heading) * 25px);
    --heading-h4: calc(var(--font-scale-heading) * 22px);
    --heading-h5: calc(var(--font-scale-heading) * 20px);
    --heading-h6: calc(var(--font-scale-heading) * 18px);
    --heading-bottom-space: 10px;
  }
  .form-control-input {
    margin-bottom: 10px;
  }
  .button-medium,
  shopify-buy-it-now-button .shopify-payment-button__button {
    min-height: 52px;
    padding: 12px 20px;
    min-width: 124px;
  }
  .button-large {
    min-width: 140px;
    min-height: 56px;
  }
  .button svg {
    min-width: 18px;
    width: 18px;
    height: 18px;
  }
  .banner-height-small {
    height: 300px;
  }
  .banner-height-medium {
    height: 450px;
  }
  .banner-height-large {
    height: 600px;
  }
}

@media screen and (min-width: 576px) {
  .grid-item-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-item-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-item-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-item-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-item-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-item-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-item-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid-item-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-item-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-item-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid-item-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-item-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --heading-h1: calc(var(--font-scale-heading) * 66px);
    --heading-h2: calc(var(--font-scale-heading) * 45px);
    --heading-h3: calc(var(--font-scale-heading) * 40px);
    --heading-h4: calc(var(--font-scale-heading) * 30px);
    --heading-h5: calc(var(--font-scale-heading) * 25px);
    --heading-h6: calc(var(--font-scale-heading) * 22px);
  }
  .container {
    padding: 0 var(--container-padding);
    max-width: min(
      calc(100vw - var(--scrollbar-width, 0px) - var(--container-padding) * 2),
      var(--container-width)
    );
  }
  .grid-item-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-item-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-item-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid-item-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-item-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-item-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid-item-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-item-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-item-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-item-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-item-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-item-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .hide-large {
    display: none !important;
  }
  .mb-view {
    display: none;
  }
  .slider-height-full {
    height: calc(100vh - 20px);
  }
  .slider-height-xlarge {
    height: 800px;
  }
  .slider-height-large {
    height: 700px;
  }
  .slider-height-medium {
    height: 650px;
  }
  .slider-height-small {
    height: 450px;
  }
  .modal-content-box {
    padding: 50px;
  }
  .height-small {
    height: 300px;
  }
  .height-medium {
    height: 450px;
  }
  .height-large {
    height: 650px;
  }
  .banner-height-small {
    height: 450px;
  }
  .banner-height-medium {
    height: 600px;
  }
  .banner-height-large {
    height: 800px;
  }
  .card-grid-view {
    --card-item-perrow: 3;
  }
  .card-grid-view-1 {
    --card-item-perrow: 1;
  }
  .card-grid-view-2 {
    --card-item-perrow: 2;
  }
  p {
    margin-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .grid-item-l-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-item-l-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-item-l-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid-item-l-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-item-l-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-item-l-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid-item-l-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-item-l-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-item-l-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-item-l-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-item-l-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-item-l-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --heading-h1: calc(var(--font-scale-heading) * 80px);
    --heading-h2: calc(var(--font-scale-heading) * 50px);
    --heading-h3: calc(var(--font-scale-heading) * 45px);
    --heading-h4: calc(var(--font-scale-heading) * 40px);
    --heading-h5: calc(var(--font-scale-heading) * 30px);
    --heading-h6: calc(var(--font-scale-heading) * 25px);
  }
  .grid-item-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-item-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-item-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid-item-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-item-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-item-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid-item-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-item-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-item-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-item-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-item-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-item-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .card-grid--3 {
    --card-item-perrow: 3;
  }
  .card-grid-4,
  .card-grid-5 {
    --card-item-perrow: 4;
  }
}
