.cart-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.order-summery-wrapper {
  height: 100%;
  background-color: rgb(var(--color-background-foreground));
  padding: 40px;
  border-radius: var(--block-card-radius);
}

.cart-total-details.cart-summery-total {
  padding: 0;
  margin-top: 20px;
}

.order-summary-title {
  margin-bottom: 12px;
}

.shipping-form {
  margin-bottom: 30px;
}
cart-recommendations.product-recommendations .product-complementary-item {
  margin-right: 0;
}
.shipping-form > small {
  margin-bottom: 12px;
  display: block;
  font-size: var(--text-size-small);
}

.cart-items-table thead th {
  font-size: var(--text-size-base);
  text-transform: uppercase;
  text-align: left;
}

.cart-items-table thead tr th,
.cart-items-table tbody tr td {
  max-width: 350px;
  padding: 14px 14px 14px 0;
}

.cart-items-table tbody tr:not(:last-child) td {
  border-bottom: 1px dashed rgba(var(--color-card-border));
}

.product-name .cart-items-product {
  margin-bottom: 0;
  max-width: 350px;
}
.minicart-form .cart-items-product {
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(var(--color-divider));
}

.cart-items-product {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.cart-item-img {
  width: 60px;
  height: 60px;
  border-radius: var(--card-radius);
  overflow: hidden;
}

.cart-item-img img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 0.3s ease-in-out;
}

cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1;
}

.product-variant-title {
  display: flex;
  gap: 6px;
}

cart-item-info p {
  margin: 0 0 4px;
}

cart-action .price-main {
  margin-bottom: 15px;
}

.cart-items-product cart-item-info .quantity {
  margin-top: auto;
  margin-bottom: 15px;
  border: 0;
  background-color: transparent;
  padding-top: 2px;
}

.product-quantity .quantity-buttons {
  border: 0;
  background-color: transparent;
}

cart-item-info .quantity-buttons .quantity-input,
.product-quantity .quantity-buttons .quantity-input {
  width: 38px;
  height: 30px;
}

.cart-items-product cart-item-info button,
.product-quantity .quantity-buttons button {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(var(--color-button-border));
  border-radius: var(--button-radius);
}

.quantity-buttons button svg {
  width: 10px;
  height: 10px;
  pointer-events: none;
}

cart-action {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: auto;
  padding: 4px;
}

cart-action .price-sale {
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  gap: 4px;
}

.cart-remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 2px;
  cursor: pointer;
}

.cart-remove svg {
  width: 14px;
  height: 14px;
}

.gift-wrapper {
  display: block;
  margin: 20px 0;
}

.gift-wrapper [type="checkbox"]:checked,
.gift-wrapper [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.gift-wrapper [type="checkbox"]:checked + label,
.gift-wrapper [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  font-size: var(--text-size-base);
  color: rgb(var(--color-text));
}

.gift-wrapper [type="checkbox"]:checked + label:before,
.gift-wrapper [type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(var(--color-card-border));
  background: rgb(var(--color-background-drawer));
  border-radius: 3px;
}

.gift-wrapper [type="checkbox"]:checked + label:after,
.gift-wrapper [type="checkbox"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: rgb(var(--color-text-drawer));
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.gift-wrapper [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.gift-wrapper [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.cart-form-box {
  max-height: 820px;
  overflow-y: auto;
  padding-right: 10px;
}

.cart-modal-tabs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid rgb(var(--color-card-border));
  border-bottom: 1px solid rgb(var(--color-card-border));
  background-color: rgb(var(--color-background-drawer));
  padding: 10px 22px;
}

.cart-modal-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 20px 2px 0;
  transition: background-color 0.3s ease;
  border-radius: 50px;
  background-color: transparent;
  border: 0;
}

.cart-modal-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  transition: transform 0.3s ease;
  padding: 2px;
}

.cart-modal-icon svg {
  width: 100%;
  height: 100%;
}

.cart-modal-text {
  font-size: var(--text-size-base);
  color: rgb(var(--color-text));
}

.cart-dialog-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.cart-dialog {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  z-index: 10;
  pointer-events: none;
  display: none;
}

.cart-dialog-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(var(--color-overlay-background));
  cursor: none;
  transition: opacity 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  opacity: 0;
}

.cart-dialog.active {
  pointer-events: auto;
}

.cart-dialog.active .cart-dialog-overlay {
  opacity: var(--color-overlay-opacity);
}

.cart-dialog-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 45px;
  --cart-dialog: 100%;
  background-color: rgb(var(--color-background));
  transform: translateY(var(--cart-dialog));
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  max-height: calc(100% - 60px);
}

.cart-dialog.active .cart-dialog-inner {
  --cart-dialog: 0;
  border-top-right-radius: var(--block-card-radius);
  border-top-left-radius: var(--block-card-radius);
}

cart-note-box,
cart-shipping-box {
  display: block;
}

.cart-total-details {
  padding: 20px 22px 0px;
}

.cart-total-details ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.cart-total-details ul li p {
  width: 100%;
  flex: 1;
  margin-top: 0px;
}

.cart-dialog-action .button {
  margin: 0;
}

.cart-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
  padding-top: 18px;
}

.cart-buttons .button {
  margin: 0px;
}

shipping-small-text {
  display: grid;
  margin: 16px 0px 6px;
}

.drawer-empty-collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.empty-collections-item {
  display: block;
  padding: 20px 16px;
  background-color: rgba(var(--color-background-foreground));
  border-radius: var(--card-radius);
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.empty-collections-item:before {
  position: absolute;
  content: "";
  top: 0;
  left: -25px;
  right: -50px;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border-right: 50px solid transparent;
  border-bottom: 80px solid rgb(var(--color-text));
  transform: translate(-100%);
  opacity: 0;
}

.empty-collections-item:hover:before {
  transform: translate(0);
  opacity: 1;
}

.empty-collections-item:hover {
  color: rgba(var(--color-background));
}

shipping-collapsible {
  display: block;
}

shipping-collapsible .detail-parent {
  padding: 14px 18px;
  background-color: rgba(var(--color-background));
  border-radius: var(--input-radius);
}

shipping-collapsible [detail-summary] {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

shipping-collapsible [detail-summary] > span {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: rgba(var(--color-background-foreground));
  border-radius: var(--input-radius);
}

shipping-collapsible cart-shipping-box {
  margin-top: 15px;
  display: none;
}

shipping-collapsible:not(.active) [detail-summary] > span svg {
  transform: rotate(180deg);
}

shipping-collapsible [detail-summary] > span svg {
  transition: transform 0.3s ease;
}
.cart-summery-total .cart-buttons {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.cart-buttons noscript .button {
  width: 100%;
}

.cart-item__error {
  max-width: 200px;
  color: rgba(var(--color-text-error));
}

@media screen and (min-width: 768px) {
  .cart-items-table tbody tr td {
    padding: 30px 30px 30px 0;
  }
}

@media (min-width: 1200px) {
  .cart-modal-tabs {
    padding: 10px 40px;
  }
  .cart-total-details {
    padding: 20px 40px 0;
  }
  .cart-items-table thead th {
    font-size: calc(var(--text-size-medium) + 2px);
  }
}

@media screen and (min-width: 1025px) {
  .cart-grid-wrapper {
    grid-template-columns: 1fr 0.56fr;
  }
  .cart-items-product {
    gap: 24px;
  }
  .cart-item-img {
    width: 130px;
    height: 136px;
  }
}

@media (max-width: 1090px) {
  .cart-items-table thead {
    display: none;
  }
}

@media (max-width: 1024px) {
  .product-variant-title {
    font-size: var(--text-size-small);
  }
  cart-action .price-sale {
    font-size: var(--text-size-base);
  }
  .cart-items-product cart-item-info .quantity {
    padding-top: 4px;
  }
  .cart-items-product cart-item-info button,
  .product-quantity .quantity-buttons button {
    width: 24px;
    height: 24px;
  }
  cart-item-info .quantity-buttons .quantity-input,
  .product-quantity .quantity-buttons .quantity-input {
    height: 24px;
  }
}

@media (max-width: 767px) {
  .shipping-form {
    margin-bottom: 16px;
  }
  .cart-form-box {
    padding-right: 0;
  }
  .cart-item-row {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    position: relative;
    border-bottom: 1px dashed rgb(var(--color-divider));
    padding: 10px 0;
  }
  .cart-items-table tbody tr td {
    padding: 6px 14px 6px 0;
    border: 0 !important;
  }
  .cart-item-row .product-name {
    padding-right: 10px;
    grid-area: span 3 / span 1;
  }
  .cart-item-row .product-total {
    display: none;
  }
  .cart-items-table tbody tr td:is(.product-quantity, .product-action) {
    text-align: right;
  }
  .action {
    justify-content: flex-end;
  }
  .cart-item-row .product-total .price-main {
    margin: 5px 0;
  }
  .order-summery-wrapper {
    padding: 20px;
  }
  .cart-dialog-inner {
    padding: 20px 20px 30px;
  }
  .cart-dialog-head {
    padding: 0px 0 10px;
  }
}
