.collection-list-grid {
  display: grid;
  grid: auto-flow dense/repeat(var(--card-grid-row-items), minmax(0, 1fr));
  gap: var(--card-items-gap, 0px);
  align-items: flex-start;
}

.product-bundle-grid .grid-wrapper-flex {
  margin: 0;
  gap: var(--space-column, 0px);
}

.collection-list-title {
  font-size: var(--text-size-large);
  margin: 12px 0;
}

.collection-list-title span {
  position: relative;
  display: inline-block;
}

.collection-list-title span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: currentColor;
  width: 0;
  height: 1px;
  transition: all 0.3s ease;
}

.collection-list-card:hover .collection-list-title span::before {
  width: 100%;
}

.collection-list :is(.collection-list-img, .media-wrapper) {
  border-radius: var(--block-card-radius);
}

.collection-list-img {
  position: relative;
  border: 1px solid rgb(var(--color-background));
}

.card-enabled :is(.collection-list-img, .media-wrapper) {
  border-radius: var(--block-radius);
}

.collection-list-card:hover .collection-list-img {
  border: 1px solid rgb(var(--color-text));
}

.collection-list-card .media-wrapper {
  transition: all 0.3s ease-in-out;
}

.collection-list-card:hover .media-wrapper {
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}

.collection-list-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-text) / 0.5);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: scale(0);
}

.coll-arrow-box {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-text));
  color: rgb(var(--color-background));
  border: 1px solid rgb(var(--color-text));
  border-radius: 100px;
}

.collection-list-card:hover .collection-list-arrow {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* =====================  */

.collection-grid {
  display: flex;
  width: 100%;
  gap: 30px;
}

.facet-sidebar-container {
  display: block;
}

.product-contain {
  flex: 1 1;
}

.facets-accordion {
  border-top: 1px dashed rgb(var(--color-divider));
  padding: 32px 0;
}

.facets-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facets-accordion-content {
  margin-top: 14px;
  padding-right: 12px;
}

.facets-details-title {
  font-size: var(--text-size-large);
  padding: 0;
}

.facets-arrow {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-background-foreground));
  padding: 6px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.facets-filter-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.facets-accordion-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  font-size: var(--text-size-base);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.facets-filters-options {
  width: 100%;
}

.facets-switch {
  cursor: pointer;
}

.facets-checkbox {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.facets-switch-container {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  background-color: rgb(var(--color-background-foreground));
  border-radius: var(--block-card-radius);
  box-shadow: inset 0 0 0.4rem rgb(var(--color-background-foreground));
  transition: background-color 0.3s ease-in-out;
}

.facets-toggle {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 18px;
  height: 18px;
  background-color: rgb(var(--color-background));
  border-radius: var(--block-card-radius);
  box-shadow: 0 0 0.4rem rgb(var(--color-background-foreground));
  transition: left 0.3s ease-in-out;
}

.facets-price {
  display: block;
  width: 100%;
}

.facets-price-ranges {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.facets-price-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  gap: 8px;
}

.facets-price-item {
  width: 100%;
}

.facets-price-wrapper label {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.facets-price-wrapper label span {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.facets-price-wrapper label input {
  margin: 0;
  padding-left: 30px;
}

.facets-range {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 3px;
  order: -1;
  background: linear-gradient(
    to right,
    rgb(var(--color-text)) var(--range-min),
    rgb(var(--color-button-background)) var(--range-min),
    rgb(var(--color-button-background)) var(--range-max),
    rgb(var(--color-text)) var(--range-max)
  );
  margin: 0 0 30px;
  padding: 0 13px;
  border: none;
}

.facets-field-range {
  pointer-events: none;
  height: 4px;
  margin-bottom: 20px;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

.facets-range .facets-field-range:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.facets-range .facets-field-range::-webkit-slider-runnable-track {
  background: none;
}

.facets-range .facets-field-range::-webkit-slider-thumb {
  pointer-events: auto;
}

.facets-range .facets-field-range::-moz-range-progress,
.facets-range .facets-field-range::-moz-range-track {
  background: none;
}

.facets-range .facets-field-range::-moz-range-thumb {
  pointer-events: auto;
}

.facets-filters-options-item {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: var(--block-card-radius);
}

.facets-filters-options-item:hover {
  background-color: rgb(var(--color-background-foreground));
}

.facets-filters-options-item input:is([type="checkbox"], [type="radio"]) {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background: rgb(var(--color-background));
  border: 1px solid rgb(var(--color-card-border));
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.2s;
  vertical-align: top;
  border-radius: 0.3rem;
  flex: 0 0 auto;
}

.facets-filters-options-item
  input:is([type="checkbox"], [type="radio"]):checked:after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid rgb(var(--color-background));
  border-left: 0;
  border-top: 0;
  width: 6px;
  height: 10px;
  left: 7px;
  top: 3px;
  transform: rotate(43deg);
}

.facets-filters-options-item
  input:is([type="checkbox"], [type="radio"]):checked {
  background: rgb(var(--color-text));
  border-color: rgb(var(--color-text));
}

.facets-filters-options-label {
  font-size: var(--text-size-medium);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.facets-filters-options-label span {
  color: rgb(var(--color-text) / 0.5);
}

.product-contain .product-card-grid {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--card-grid-gap, 16px);
  margin-top: 30px;
}

.infinite-scroll svg {
  width: auto;
  height: 24px;
}

.product-contain .product-card-grid:has(.empty-wrapper) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.hero-media-section {
  position: relative;
}

.hero-media-content {
  padding: 30px 0;
}

.collection-quick-list {
  display: flex;
  grid-gap: 2rem;
}

.collection-quick-item {
  text-align: center;
  flex-direction: column;
  align-items: center;
  row-gap: 0.625rem;
  max-width: 8rem;
  display: flex;
}

.collection-quick-list .collection-list-card .media-wrapper {
  border-radius: 50%;
}

.collection-quick-list .collection-list-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.collection-quick-list .coll-arrow-box {
  width: 34px;
  height: 34px;
}

.collection-quick-list .coll-arrow-box svg {
  width: 10px;
  height: 10px;
}

.collection-quick-list .collection-list-title {
  font-size: var(--text-size-small);
  text-align: center;
}

.facet-product-grid-sort-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
}

.prod-col-grid {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(var(--color-divider));
  padding: 7px;
}

.prod-col-grid svg {
  display: flex;
}

.prod-col-grid:is(:hover, .active) svg * {
  fill: rgba(var(--color-text));
  stroke: rgba(var(--color-text));
}

.prod-col-grid svg rect {
  width: 8px;
  height: 8px;
}

@media (min-width: 1200px) {
  .facet-product-grid-sort-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .facet-product-grid-sort-wrapper .prod-col-grid {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .product-contain .product-card-grid {
    grid-template-columns: repeat(var(--products-per-row, 3), 1fr);
  }
}

@media (min-width: 1200px) {
  .product-contain .product-card-grid {
    grid-template-columns: repeat(var(--products-per-row, 3), 1fr);
  }
}

@media (max-width: 767px) {
  .collection-list-title {
    font-size: var(--text-size-base);
    margin: 6px 0 12px;
  }
  .collection-list-grid {
    --card-grid-row-items: 2;
  }
  .facets-filters-options-label {
    font-size: var(--text-size-base);
  }
}
