collection-carousel {
  display: block;
}

.collection-slider-wrapper {
  display: flex;
  grid-gap: var(--space-column, 0px);
  padding-bottom: 40px;
  overflow: unset;
}

.collection-grid-wrapper .swiper-wrapper {
  grid-gap: var(--space-column, 0px);
}

.collection-card {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-grid-view .hover-slider .swiper-wrapper {
    display: flex;
}

.round-enabled .collection-card:not(.background-enabled) .collection-image {
  border-radius: var(--block-card-radius);
}

.collection-card:is(.background-enabled),
.collection-overlay-content
  .collection-card:is(.background-enabled)
  .collection-title-wrapper {
  background-color: rgb(var(--color-background-card));
  border-radius: var(--block-card-radius);
}

.collection-image {
  position: relative;
  overflow: hidden;
}

.collection-image img {
  transition: transform 0.2s ease-in-out;
}

.collection-card:hover .collection-image img ,
.collection-card:focus-visible .collection-image img  ,
.collection-card:focus-within .collection-image img  ,
.collection-card:focus .collection-image img {
  transform: scale(1.1) rotate(3deg);
}

.collection-image:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.collection-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  gap: 8px;
  margin: auto;
  padding: 22px;
  z-index: 2;
}

.collection-name {
  display: inline-block;
  padding: 6px 12px;
  background-color: rgb(var(--color-background-foreground));
  color: rgb(var(--color-text-card));
  border-radius: var(--block-card-radius);
  max-height: 50px;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}

.collection-icon-wrapper .arrow-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: rgb(var(--color-button-background));
  border-radius: var(--button-radius);
  color: rgb(var(--color-button-text));

  transition: all 0.5s ease-in-out;
}

.collection-title-wrapper {
  padding: 14px 0;
  max-height: 80%;
  overflow-y: auto;
  z-index: 1;
}

.collection-title-wrapper > * {
  color: rgba(var(--color-text-card));
}

.content-below-image
  .collection-card:is(.background-enabled)
  .collection-title-wrapper {
  padding: 20px;
}

.collection-overlay-content .collection-title-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: 0.4s;
  margin: 0px auto;
  padding: 30px;
}

.collection-desc-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.star-ratings {
  display: flex;
}

.ratings-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: rgb(var(--color-rating-star));
}

.ratings-box li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

collection-carousel .swiper-button-wrapper {
  max-width: min(
    calc(100vw - var(--scrollbar-width, 0px) - var(--container-padding) * 2),
    var(--container-width)
  );
  margin: 0 auto;
  left: 0;
  justify-content: flex-end;
}


@media screen and (min-width: 992px) {
  .swiper-slider:not(.swiper-initialized) .swiper-wrapper {
    gap: var(--space-column);
  }
  .swiper-slider:not(.swiper-initialized) .swiper-slide {
    flex: 0 0 33.3333%;
  }
}

@media screen and (min-width: 1025px) {
  .text-hover-on .collection-title-wrapper {
    opacity: 0;
    visibility: hidden;
    transform: translateY(120px);
  }
  .description-hover-on .collection-desc-wrapper {
    max-height: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .description-hover-on .collection-card:hover .collection-desc-wrapper,
  .description-hover-on .collection-card:focus-visible .collection-desc-wrapper,
  .description-hover-on .collection-card:focus-within .collection-desc-wrapper ,
  .description-hover-on .collection-card:focus .collection-desc-wrapper  {
    max-height: var(--card-max-height, 500px);
  }

  .text-hover-on .collection-card:hover .collection-title-wrapper,
  .text-hover-on .collection-card:focus-visible .collection-title-wrapper 
  .text-hover-on .collection-card:focus-within .collection-title-wrapper 
  .text-hover-on .collection-card:focus .collection-title-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
  .collection-card .collection-icon-wrapper > * {
    transform: translateY(20px);
    opacity: 1;
  }
  .collection-card:hover .collection-icon-wrapper > * ,
  .collection-card:focus-visible .collection-icon-wrapper > * ,
  .collection-card:focus-within .collection-icon-wrapper > * ,
  .collection-card:focus .collection-icon-wrapper > * {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .collection-slider-wrapper {
    padding-bottom: 0px;
  }
  .swiper-pagination.swiper-progressbar,
  collection-carousel .swiper-button-wrapper {
    display: none;
  }
  .section-header:not(.shopify-section) {
    gap: 4px;
  }
  .action-wrapper {
    text-align: left;
  }
  .collection-icon-wrapper .arrow-icon-wrapper {
    width: 30px;
    min-width: 30px;
    height: 30px;
  }
  .arrow-icon-wrapper svg {
    width: 10px;
    height: 10px;
    min-width: auto;
  }
  .collection-icon-wrapper {
    padding: 14px;
  }
  .collection-name {
    padding: 4px 6px;
    font-size: var(--text-size-small);
  }
  .card-grid-view.mobile-swipe {
    grid: auto / auto-flow calc(80% / var(--card-item-perrow));
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    padding-bottom: 15px;
  }
  .collection-grid-wrapper .swiper-wrapper {
    --card-item-perrow: 1 !important;
}
}

