.separator {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-gap: var(--space-column, 0px);
}

.collapsiable-item {
  z-index: 1;
}

.collapsiable-card {
  justify-content: center;
}

.collapsiable-item .media-wrapper {
  border-radius: var(--block-card-radius);
}

.collapsiable-content-wrapper {
  padding: 16px;
  max-width: 940px;
  margin: 0 auto;
}

.collapsiable-heading {
  margin-bottom: 24px;
}

.collapsiable-content .collapsiable-text {
  display: block;
}

.collapsiable-details {
  border: 1px solid rgb(var(--color-card-border));
  margin-bottom: 14px;
  border-radius: var(--block-card-radius);
  background-color: rgb(var(--color-background-foreground));
  display: block;
}

.collapsiable-details.active {
  background-color: rgb(var(--color-background-foreground));
}

.collapsiable-summary {
  font-weight: var(--font-weight-heading);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 24px 32px;
  cursor: pointer;
  gap: 10px;
}

.collapsiable-summary svg {
  transition: 0.5s ease;
}

.collapsiable-details.active .collapsiable-summary svg {
  transform: rotate(-180deg);
}

.collapsiable-content {
  padding: 0px 32px 18px;
}

@media (min-width: 768px) {
  .separator > div[class] {
    flex: 0 0 100%;
    width: 100%;
    max-width: calc(100% / 2 - var(--space-column, 0px));
  }
  .media-position-right .collapsiable-item-img {
    padding-left: 30px;
  }

  .media-position-left .collapsiable-item-img {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .collapsiable-content-wrapper {
    padding: 16px 0;
  }
  .collapsiable-summary {
    padding: 22px 20px;
  }
  .collapsiable-content {
    padding: 0 20px 18px;
  }
  .collapsiable-heading {
    margin-bottom: 0px;
  }
  .collapsiable-details {
        margin-bottom: 0px;
        border-top: 0;
    }
.collapsiable-details:last-child {
        border-bottom: 0;
    }
}
