.full-container .compare-slide-wrapper {
  border-radius: 0;
}

.compare-grid {
  display: grid;
  --compare-space: 20px;
  grid-gap: var(--compare-space);
}

.compare-desc {
  margin: 0;
  padding-top: 20px;
}

.compare-slid-button {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.compare-slide-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: var(--block-card-radius);
  --compare-percent: 50%;
}

.compare-slide-wrapper .compare-slide-after {
  clip-path: inset(0px 0px 0px var(--compare-percent));
}

.compare-slide-item {
  display: block;
}

.compare-slide-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.compare-slide-after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: clip-path 0.08s ease;
}

compare-block-text {
  display: block;
  position: absolute;
  bottom: 20px;
  padding: 10px;
  max-width: 200px;
  z-index: 1;
  font-size: var(--heading-h6);
  color: rgba(var(--color-heading-text));
}

compare-block-text.compare-before {
  left: 20px;
  top: 20px;
  bottom: auto;
}

compare-block-text.compare-after {
  right: 20px;
}

.compare-slid-cursor {
  position: absolute;
  top: 0;
  left: var(--compare-percent);
  width: 2.8rem;
  height: 100%;
  margin-left: -22px;
  cursor: col-resize;
  z-index: 2;
  background-color: transparent;
  border: none;
  padding: 0;
  transition-property: top, left;
  animation: 0.8s ease;
}

.compare-slid-cursor:after,
.compare-slid-cursor:before {
  position: absolute;
  left: 50%;
  width: 3px;
  height: 50%;
  margin: 0;
  transform: translate(-50%);
  border: 0;
  content: "";
  background-color: rgba(var(--color-heading-text));
  pointer-events: none;
}

.compare-slid-cursor:before {
  top: 0;
}
.compare-slid-cursor:after {
  bottom: 0;
}

.compare-slid-cursor span {
  margin-left: -18px;
  min-width: 34px;
  height: 34px;
  min-height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--color-heading-text));
  color: rgb(var(--color-background));
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  cursor: grab;
  padding: 8px;
  transform: translateY(-50%);
}

.compare-slid-cursor span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-heading-text), 0.2);
  animation: throbbing 2s ease infinite;
  border-radius: 100%;
  z-index: -1;
}

@media (min-width: 768px) {
  .compare-grid {
    --compare-space: 60px;
  }
  .compare-grid.compare-grid-2 {
    align-items: flex-start;
    grid: auto-flow / 0.6fr minmax(0, 1fr);
  }
  .compare-grid.content_right {
    grid: auto-flow / 1fr minmax(0, 0.6fr);
  }
  .compare-slid-cursor span {
    margin-left: -28px;
    min-width: 54px;
    height: 54px;
    min-height: 54px;
  }
}
