.featured-blog-wrapper .swiper-initialized {
  padding-bottom: 30px;
}

.blog-grid-wrapper {
  display: grid;
  align-items: flex-start;
  gap: var(--blog-item-gap, 0px);
}

.blog-item {
  position: relative;
  overflow: hidden;
}
.blog-item img {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.blog-item:hover img {
  transform: scale(1.1);
}

.blog-title {
  display: block;
  margin-bottom: 6px;
}

.blog-grid-wrapper:not(.card-enabled) .media-wrapper {
  border-radius: var(--block-card-radius);
}

.card-enabled .blog-item {
  border-radius: var(--block-card-radius);
  background-color: rgb(var(--color-background-foreground));
}

.blog-content .blog-desc ~ a {
  margin-top: 10px;
  display: inline-block;
}

.card-enabled .blog-content {
  padding: 36px;
}

.blog-content {
  padding: 16px 0;
}

.blog-content.overlay-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.blog-dates {
  margin-bottom: 6px;
}

.blog-dates li {
  display: inline-flex;
  align-items: center;
}

@media (min-width: 768px) {
  .blog-grid-wrapper {
    grid: auto / repeat(var(--blog-item-per-row), minmax(0, 1fr));
  }
  .swiper-slider:not(.swiper-initialized) .blog-item.swiper-slide {
    flex: 0 0 50%;
  }
  .blog-content {
    padding: 26px 0;
  }
  .blog-title {
    margin-bottom: 10px;
  }
  .blog-content .blog-desc ~ a {
    margin-top: 20px;
  }
}
