.section-featured-collection {
  position: relative;
}

.featured-overlay-showcase.section-space {
  padding-top: var(--section-top-space);
  padding-bottom: var(--section-bottom-space);
  margin-bottom: var(--section-bottom-space);
}

.featured-overlay-showcase .collection-content-wrapper .collection-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.featured-collection-slider:is(.swiper-initialized) .product-card-item {
  padding: 0;
}

.featured-list-right .featured-collection-box {
  display: grid;
  gap: 10px;
  align-items: flex-start;
}

.featured-list-right .featured-collection-slider {
  width: 100%;
  overflow: hidden;
}

.featured-collection-outer .swiper-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
}

.featured-list-right .swiper-button-wrapper {
  justify-content: flex-start;
}

.featured-collection-desc.text-size-xlarge {
  margin-top: 20px;
}

.featured-collection-box .swiper-button {
  position: relative;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: unset;
  left: unset;
  right: unset;
}

.featured-collection-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-collection-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.featured-collection-background img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-overlay-showcase .featured-collection-slider {
  position: absolute;
  width: 100%;
  bottom: auto;
  z-index: 1;
}

.round-enabled .featured-collection-item {
  border-radius: var(--block-card-radius);
}

.featured-collection-card {
  display: block;
  flex-shrink: 0;
  max-width: 100%;
}

.featured-collection-item {
  border: 1px solid rgb(var(--color-divider));
  overflow: hidden;
}

.featured-image img {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.featured-collection-card:hover .featured-image img {
  transform: scale(1.1);
}

.collection-overlay-content .collection-content-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.collection-content-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .swiper-slider:not(.swiper-initialized) .swiper-wrapper {
    gap: var(--space-column);
  }
  .swiper-slider:not(.swiper-initialized) .swiper-slide {
    flex: 0 0 50%;
  }
  .featured-collection-slider {
    padding-bottom: 20px;
  }
  .featured-collection-outer .swiper-button-wrapper {
    margin-top: 40px;
  }
}

@media screen and (min-width: 992px) {
  .swiper-slider:not(.swiper-initialized) .swiper-wrapper {
    gap: var(--space-column);
  }
  .swiper-slider:not(.swiper-initialized) .swiper-slide {
    flex: 0 0 33.3333%;
  }
  .featured-list-right .featured-collection-box {
    grid-template-columns: 0.4fr 1fr;
    gap: 30px;
  }
}
