.section-featured-collection {
  position: relative;
}

.featured-collection-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-collection-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.featured-collection-background img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-overlay-showcase .featured-collection-slider {
  position: absolute;
  width: 100%;
  bottom: auto;
  z-index: 1;
}

.featured-collection-slider {
  padding-bottom: 20px;
  overflow: unset;
}

.round-enabled .card-enabled {
  background-color: rgb(var(--color-background-card));
  border: 1px solid rgb(var(--color-card-border));
  border-radius: var(--block-card-radius);
}

.featured-collection-card {
  display: block;
  flex-shrink: 0;
  max-width: 100%;
}

.grid-wrapper {
  display: grid;
  width: 100%;
  align-items: flex-start;
  grid-template-columns: repeat(var(--card-grid-per-row), 1fr);
  gap: var(--card-grid-gap);
}

.featured-collection-item {
  background-color: rgb(var(--color-background-card));
  color: rgb(var(--color-text-card));
  border: 1px solid rgb(var(--color-card-border));
  overflow: hidden;
  border-radius: var(--block-card-radius);
  position: relative;
}

.collection-content-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  padding: 20px;
}

@media (max-width: 991px) {
  .featured-collection-slider .swiper-button-wrapper {
    display: none;
  }
}
