.product-box {
  align-items: flex-start;
  --product-space-column: 6px;
  grid-gap: var(--product-space-column, 0px);
}

.product-gallery-slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
  flex: 1;
  user-select: none;
}

.product-gallery-slider .swiper-slide {
  overflow: hidden;
  border-radius: var(--card-radius);
  flex-grow: 1;
}

.container-fullwidth .product-media-info-inner {
  padding-right: 80px;
  padding-top: 40px;
}

.product-media-gallery {
  display: block;
  position: relative;
}

.product-gallery-thumbs .media-wrapper img {
  object-position: top;
}

.product-gallery-slider:hover .swiper-button {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.product-gallery-thumb-item {
  max-height: 558px;
}

.slider-overlay .product-gallery-thumb-item {
  max-height: 455px;
}

.product-gallery-thumbs .swiper-wrapper {
  grid-gap: var(--product-space-column, 0px);
}

.product-gallery-thumbs .swiper-slide {
  grid-gap: var(--product-space-column, 0px);
  border-radius: clamp(0px, var(--card-radius), 4px);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgb(var(--color-divider), 0.2);
  margin: 0 !important;
  height: 86px;
}

.product-gallery-thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.product-gallery-thumbs .swiper-slide:hover img {
  transform: scale(1.1);
}

.product-gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  border: 1px solid rgb(var(--color-divider));
}

.product-single__media-zoom,
.product-single-media-zoom {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(var(--color-background));
  color: rgb(var(--color-text));
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgb(var(--color-text), 0.12);
  transition: all 0.3s ease-in-out;
}

.product-single__media-zoom svg,
.product-single-media-zoom svg {
  width: 16px;
  height: 16px;
}

.product-media-modal__model .shopify-model-viewer-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-model-button.button {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 150px;
  font-size: 12px;
  padding: 10px 10px;
}

.product-media-info-inner > *,
.variant-selector-card {
  margin-bottom: 22px;
}

.custom-content-wrapper {
  margin-bottom: 18px;
}

.product-info-vendor {
  margin-bottom: 15px;
}

.product-info-heading {
  display: block;
  padding: 0;
}

.vendor-item {
  display: inline-block;
  padding: 6px 15px;
  background-color: rgb(var(--color-background-foreground));
  border-radius: var(--button-radius);
  font-size: var(--text-size-small);
}

.product-price-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-complementary-title.font-heading {
  margin-bottom: 4px;
  display: inline-block;
}

.product-complementary-info {
  flex-grow: 1;
  padding-right: 30px;
  position: relative;
}

.product-complementary-info a.button {
  width: 24px;
  height: 24px;
  min-width: 24px;
  padding: 0;
  margin: 0 0 0 auto;
  display: flex;
  position: absolute;
  top: 5px;
  right: 2px;
}

.product-complementary-info a.button svg {
  width: 10px;
  height: 10px;
}

.product-price-wrapper .product-price-item {
  display: block;
  line-height: normal;
  margin-right: 16px;
}

.product-cart-sticky-title {
  margin-bottom: 6px;
  display: block;
  text-transform: capitalize;
}

.product-compare-price,
.discount-price {
  text-decoration: line-through;
  color: rgb(var(--color-text));
}

.product-price-discount {
  background-color: rgb(var(--color-sale-tag-background));
  color: rgb(var(--color-sale-tag-text));
  padding: 6px;
  border-radius: var(--button-radius);
}

.products-sold {
  padding: 14px;
  background-color: rgb(var(--color-background-foreground));
  border-radius: var(--card-radius);
  display: flex;
  align-items: flex-start;
  grid-gap: 8px;
}

.product-info-inventory {
  display: grid;
  grid-gap: 10px;
}

.product-rangebar {
  display: flex;
  height: 6px;
  width: 100%;
  border: 0;
  position: relative;
  background-color: rgb(var(--color-text), 0.1);
}

.product-rangebar-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(0% + var(--rangebar-value));
  height: 100%;
}

.variant-selector-card {
  position: relative;
}

.size-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.size-chart span {
  display: block;
  text-underline-offset: 4px;
}

.add-to-cart-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 25px;
  grid-gap: 14px;
}

.add-to-cart-wrapper .button {
  flex: 1;
  margin: 0;
}

.add-to-cart-wrapper .shopify-payment-button {
  width: 100%;
  flex: 0 0 100%;
}

shopify-buy-it-now-button .shopify-payment-button__button {
  margin: 0;
}

.label-text {
  font-weight: var(--font-weight-heading);
  margin-bottom: 8px;
}

.quantity-buttons {
  display: inline-flex;
  position: relative;
  border: 1px solid rgb(var(--color-input-border));
  border-radius: var(--input-radius);
  background-color: rgb(var(--color-background-foreground));
  padding: 2px 0;
}

.quantity-buttons .quantity-input {
  display: inline-flex;
  padding: 0;
  width: 70px;
  height: 52px;
  text-align: center;
  border: 0;
  justify-content: center;
  background-color: rgba(var(--color-input-background));
  color: rgba(var(--color-input-text));
  border-radius: var(--input-radius);
  font-size: var(--text-size-medium);
  margin: 0;
  outline: 0;
}

.quantity-buttons button {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 52px;
  cursor: pointer;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.quantity-buttons button:hover {
  transform: translateY(-2px);
}

.quantity-buttons button.disabled {
  cursor: not-allowed;
}

.ask-question-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  padding-bottom: 27px;
  border-bottom: 1px solid rgb(var(--color-card-border));
}

.ask-question-card,
.delivery-return-card,
.social-share-card {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.ask-question-card > span,
.custom-content-card > span {
  text-decoration: underline;
}

.ask-question-card > svg,
.custom-content-card:hover > svg {
  transition: all 0.3s ease;
}

.ask-question-card:hover > svg,
.custom-content-card:hover > svg {
  transform: translateY(-3px);
}

.custom-content-card {
  display: flex;
  gap: 11px;
}

.ask-question-wrapper a + .social-share-icon,
.ask-query-wrapper + .social-share-icon {
  text-align: right;
}

.product-icon-wrapper ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
}

.product-icon-wrapper .product-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
}

.product-accordion-card {
  display: block;
}

.product-accordion-item {
  display: block;
  border-bottom: 1px solid rgb(var(--color-divider));
  padding: 6px 0px;
}

.product-accordion-item [detail-summary] {
  width: 100%;
  list-style: none;
  position: relative;
  font-size: var(--text-size-large);
  font-weight: var(--font-weight-heading);
  color: rgb(var(--color-heading-text));
  cursor: pointer;
  padding: 12px 20px 12px 0;
}

.product-accordion-item [detail-summary] span {
  display: inline-flex;
  align-items: center;
  transform-origin: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 20px;
  width: 14px;
  z-index: 5;
}

.product-accordion-item
  accordion-element.active
  [detail-summary]
  span
  svg
  .line-v {
  display: none;
}

.collapsible-content {
  margin-bottom: 10px;
}

.collapsible-content p {
  margin: 0;
}

.pickup-availability:empty {
  display: none;
}

.pickup-availability {
  display: block;
  padding: 20px;
  background-color: rgb(var(--color-background-foreground));
  border-radius: var(--card-radius);
}

.pickup-availability-content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.pickup-availability-content > svg {
  margin-top: 2px;
}

.pickup-availability-desc {
  max-width: 275px;
  margin: 0;
  margin-bottom: 5px;
}

.view-store-info {
  margin-top: 6px;
  display: inline-block;
}

.product-recommendations {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-recommendations .swiper-button {
  margin: 0;
  display: inline-flex;
  top: 0px;
}

.product-recommendations .swiper-button.swiper-button-prev {
  left: auto;
  right: 40px;
}

.product-recommendations .swiper-button.swiper-button-next {
  right: 0px;
}

.product-complementary-head {
  max-width: 90%;
}

.product-complementary {
  margin-top: 20px;
  display: flex;
  overflow: hidden;
  gap: 12px;
}

.product-complementary-item {
  display: flex;
  align-items: flex-start;
  background-color: rgb(var(--color-background-foreground));
  border-radius: var(--card-radius);
  padding: 10px;
  width: 100%;
  margin-right: 12px;
  gap: 18px;
  justify-content: flex-end;
  align-items: center;
}
.product-complementary-image {
  width: 80px;
  flex: 0 0 80px;
}

.product-complementary-image img {
  display: block;
  object-fit: cover;
  border-radius: 6px;
}

.product-gallery-slider .swiper-button {
  top: auto;
  bottom: 30px;
  right: 30px;
}

.product-gallery-slider .swiper-button-prev {
  left: auto;
  right: calc(30px + 60px);
}

.quick-view-info {
  padding: 10px 0px 0 5px;
}

.quick-view-info .product-variants-box .variant-swatches-box {
  max-width: 100%;
}

.quick-view-slider .swiper-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  gap: 10px;
}

.quick-view-slider .swiper-button {
  position: unset;
  display: inline-flex;
  width: 26px;
  height: 26px;
}

.quick-view-slider .swiper-button:after {
  font-size: var(--text-size-xsmall);
}

.quick-view-slider .swiper-button-wrapper .swiper-pagination-quick-view {
  position: unset;
  transform: unset;
  width: max-content !important;
}

.quick-view-slider .swiper-button-wrapper .swiper-pagination-bullet {
  position: unset;
  width: 10px;
  height: 10px;
  border: 1.5px solid rgb(var(--color-slider-arrow-background));
  background-color: rgb(var(--color-slider-arrow-background));
  transform: scale(1);
}

.quick-view-slider
  .swiper-button-wrapper
  .swiper-pagination-bullet-active-main {
  background: transparent;
}

/* ====================================== */

.product-cart-sticky {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: calc(100% - 30px);
  max-width: 380px;
  z-index: 11;
  background: rgba(var(--color-background));
  padding: 20px;
  border: 1px solid rgba(var(--color-divider));
  border-radius: var(--card-radius);
  transform: translate(calc(100% + 120px));
  box-shadow: 0 4px 6px #00000024;
  transition: all 0.2s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.product-cart-sticky.active {
  transform: translate(0);
}

.product-cart-sticky-card {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  text-align: left;
  min-height: 48px;
}

.product-cart-sticky-image {
  width: 48px;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: 20px;
  border-radius: var(--card-radius);
}

.product-cart-sticky-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-cart-sticky-button {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-color: rgba(var(--color-button-background));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
  padding: 5px;
  color: rgba(var(--color-button-text));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-cart-sticky:has(.product-cart-sticky-detail.active)
  .product-cart-sticky-button {
  transform: rotate(45deg);
}

.product-cart-sticky-detail {
  padding-left: 4px;
  max-height: 0px;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.product-cart-sticky-detail .add-to-cart-wrapper .button {
  min-height: 48px;
}

.product-cart-sticky-detail.active {
  padding-top: 20px;
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.product-cart-sticky-detail .add-to-cart-wrapper {
  margin: 0;
}

.product-cart-sticky-info .product-actual-price {
  font-size: var(--text-size-xlarge);
  margin-bottom: 8px;
}
.product-cart-sticky-info .product-price-discount {
  margin-bottom: 8px;
}

.product-cart-sticky-info .product-compare-price {
  font-size: var(--text-size-base);
  margin-bottom: 8px;
}

.stikcy-product-form-options .swatch-label {
  width: 28px;
  height: 28px;
}

.stikcy-product-form-options .variant-swatches-box {
  max-width: 100%;
}

.stikcy-product-form-options .variant-swatches-list.square .swatch-label {
  width: auto;
  height: 40px;
}

.product-cart-sticky-detail .quantity-buttons .quantity-input,
.product-cart-sticky-detail .quantity-buttons button {
  height: 42px;
  width: 42px;
}
.slider-coverflow .product-gallery-slider .swiper-slide {
  border: 5px solid transparent;
  border-radius: 10px;
}

.slider-coverflow .product-gallery-slider .swiper-slide.swiper-slide-active {
  border-color: rgba(var(--color-background));
}

.slider-coverflow .product-gallery-slider .swiper-button {
  top: 50%;
  bottom: unset;
  right: 20px;
}

.slider-coverflow .product-gallery-slider .swiper-button-prev {
  left: 20px;
  right: auto;
}

@media (min-width: 768px) {
  .product-gallery-slider:not(.swiper-initialized) .swiper-wrapper {
    flex-wrap: wrap;
    gap: 12px;
  }

  .product-box {
    display: grid;
    grid: auto / minmax(0, 1.1fr) minmax(0, 0.7fr);
    --product-space-column: 60px;
  }

  .media-gallery-card {
    position: sticky;
    top: 25px;
    --product-space-column: 8px;
  }

  .product-info-wrapper {
    position: sticky;
    top: 25px;
  }

  .product-media-gallery.slider-left .product-gallery-slider {
    order: 1;
  }

  .product-media-gallery:is(.slider-overlay) .product-gallery-thumbs {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
    width: 84px;
  }

  .product-media-gallery:is(.slider-overlay)
    .product-gallery-thumbs
    .swiper-slide {
    width: 100%;
    height: 84px !important;
  }

  .product-media-gallery.slider-vertical {
    display: flex;
    align-items: start;
    gap: var(--product-space-column, 0px);
  }

  .slider-vertical .product-gallery-thumbs {
    width: 132px;
    display: grid;
    align-items: flex-start;
  }
  .product-gallery-thumbs .swiper-slide {
    width: 132px;
    height: 132px !important;
  }

  .media-layout-grid .product-gallery-slider .swiper-slide {
    max-width: calc(50% - 6px);
  }

  .media-layout-stacked .swiper-wrapper .swiper-slide:not(:first-child) {
    max-width: calc(100% / 2 - 6px);
  }
  .size-chart {
    position: absolute;
    top: 0;
    right: 0;
  }
  .product-cart-sticky {
    bottom: 15px;
    right: 60px;
  }
  .product-cart-sticky-button {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
  .product-gallery-slider:not(:hover) .product-single__media-zoom {
    opacity: 0;
  }
  .product-cart-sticky {
    max-width: 480px;
  }
  .product-cart-sticky-image {
    width: 88px;
  }
  .slider-coverflow .product-gallery-slider .swiper-button {
    right: 100px;
  }
  .slider-coverflow .product-gallery-slider .swiper-button-prev {
    left: 100px;
  }
  .product-model-button.button {
    display: none;
  }
}

@media (max-width: 991px) {
  .product-title {
    display: block;
    margin-bottom: 2px;
  }

  .ask-question-wrapper {
    padding-bottom: 15px;
  }

  .size-chart {
    justify-content: flex-start;
    padding: 16px 0 0;
  }
  .ask-question-card,
  .delivery-return-card,
  .social-share-card {
    gap: 8px;
  }
  .product-compare-price {
    font-size: var(--text-size-base);
  }
  .product-price-wrapper .product-price-item {
    margin-right: 10px;
  }
  .product-icon-wrapper .product-icon {
    margin-right: 6px;
    margin-top: 2px;
  }
  .product-cart-sticky-info .product-actual-price {
    font-size: var(--text-size-base);
  }
}

@media (max-width: 767px) {
  .container-fullwidth .product-media-info-inner {
    padding-top: 0px;
  }
  .container-fullwidth .product-media-info-inner {
    padding-right: 20px;
    padding-left: 20px;
  }
  .product-info-wrapper {
    margin-top: 20px;
  }
  .product-media-gallery:is(.media-layout-grid, .media-layout-stacked)
    .gallery-popup-images {
    overflow-x: auto;
    padding-bottom: 15px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    gap: 6px;
  }
  .product-media-gallery:is(.media-layout-grid, .media-layout-stacked)
    .gallery-popup-images
    .swiper-slide {
    width: 90%;
  }
  .quantity-buttons .quantity-input {
    width: 42px;
    height: 46px;
  }
  .quantity-buttons button {
    height: 46px;
  }
  .product-gallery-slider .swiper-button {
    top: auto;
    bottom: 15px;
    right: 15px;
  }
  .product-gallery-slider .swiper-button-prev {
    left: auto;
    right: 60px;
  }

  .product-cart-sticky {
    padding: 12px;
  }
}
