.footer-wrapper {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
  padding-top: var(--section-top-space, 0px);
  padding-bottom: var(--section-bottom-space, 0px);
}

.footer-card > * {
  position: relative;
}

.footer-wrapper.footer-card {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-logo-wrapper img {
  width: 100%;
}

.footer-logo-wrapper.logo-position-bottom {
  padding: 60px 0;
  border-bottom: 1px solid rgb(var(--color-divider));
}

.footer-logo-wrapper.logo-position-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(var(--color-divider));
  margin-bottom: 40px;
}

.footer-card .footer-inner-contain-box {
  background-color: rgba(
    var(--color-overlay-background) / var(--color-overlay-opacity)
  );
  padding: 50px 50px 40px;
  border-radius: var(--block-card-radius);
  margin-bottom: 24px;
  backdrop-filter: blur(40px);
}

.footer-bg-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.footer-bg-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-container :is(img, svg) {
  display: block;
  margin: 0 auto;
}

.footernewsletter-form {
  margin-top: 15px;
}

.footer-block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-block-item-menu {
  max-width: 240px;
  width: 100%;
}

.footer-block-heading {
  margin-bottom: 14px;
}

.footer-block-list li + li {
  margin-top: 4px;
}

.footer-block-list-link {
  display: inline-flex;
  font-size: var(--text-size-medium);
  padding: 6px 0;
  background: linear-gradient(to right, currentColor, currentColor) 0
    min(100%, 1.2lh) / 0 1px no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.footer-block-list-link:hover {
  background-size: 100% 1px;
  color: rgba(var(--color-link));
}

.footer-block-bottom {
  padding: 60px 0;
  border-bottom: 1px solid rgb(var(--color-divider));
}

.footer-block-bottom-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-text-marquee-wrapper {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  margin-right: 32px;
}

.footer-text-marquee {
  padding-right: 30px;
}

.footer-social-icons {
  flex: 1 1;
  max-width: 410px;
}

.footer-social-icons .social-icons-link {
  min-width: 90px;
  height: 90px;
  border-radius: var(--block-card-radius);
  background-color: rgb(var(--color-background-foreground));
  color: rgb(var(--color-text));
  overflow: hidden;
  position: relative;
  transform: unset;
}

.footer-social-icons .social-icons-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(100% + 2px));
  transform-origin: top left;
  width: 100%;
  height: 100%;
  animation: hoverOut 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: rgba(var(--color-button-background-hover));
}

@keyframes hoverIn {
  0% {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes hoverOut {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.footer-social-icons .social-icons-link:hover:before {
  animation: hoverIn 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.footer-blocks-copyright {
  padding-top: 30px;
}

.footer-payments-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.footer-payments-wrapper .language-selector {
  padding: 0;
  border: 0;
  margin-right: 20px;
}

.footer-copyright p {
  margin-top: 0px;
}

.footer-copyright p > a {
  background: linear-gradient(currentColor, currentColor) 0 min(100%) / 100% 1px
    no-repeat;
  background-position-x: center;
  transition: background-size 0.3s cubic-bezier(0.3, 1, 0.3, 1);
}

.footer-copyright p > a:hover {
  background-size: 0 1px;
}

.footer-text-marquee-wrapper.direction-right .footer-text-marquee {
  animation: marquee-left var(--scrolling-speed, 5s) linear infinite;
}

.footer-text-marquee-wrapper.direction-left .footer-text-marquee {
  animation: marquee-right var(--scrolling-speed, 5s) linear infinite;
}

.footer-blocks-copyright .detail-box .detail-expand {
  top: unset;
  right: unset;
  bottom: calc(100% + 10px);
  background-color: rgba(var(--color-background-foreground));
  text-align: left;
}

.footernewsletter-form .form-control {
  position: relative;
}

.footernewsletter-form.form .form-control > input {
  margin: 0;
}

.footernewsletter-form .form-control .submit {
  width: 34px;
  min-width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid rgba(var(--color-button-border));
  background-color: rgba(var(--color-button-text));
  color: rgba(var(--color-button-background));
  position: absolute;
  top: 0px;
  bottom: 0;
  margin: auto 0;
  right: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.footernewsletter-form .form-control .submit:hover {
  color: rgba(var(--color-button-background-hover));
  border: 1px solid rgba(var(--color-button-background-hover));
}

.footernewsletter-form .form-control .submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(100% + 2px));
  transform-origin: top left;
  width: 100%;
  height: 100%;
  animation: hoverOut 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: rgba(var(--color-button-text-hover));
  border-radius: 50%;
}

.footernewsletter-form .form-control .submit:hover:before {
  animation: hoverIn 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.footernewsletter-form .form-control .submit svg {
  position: relative;
}

.back_to_top {
  position: fixed;
  bottom: 15px;
  font-size: 16px;
  z-index: 2;
  min-width: 44px;
  min-height: 44px;
  opacity: 1;
  transform: scale(1);
  border: 1px solid rgba(var(--color-button-border));
  background-color: rgba(var(--color-button-background));
  color: rgba(var(--color-button-text));
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(var(--color-button-text), 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back_top_left {
  left: 14px;
}

.back_top_right {
  right: 14px;
}

.back_to_top span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
}

.back_to_top span .icon-caret {
  transform: rotate(-90deg);
  width: 18px;
}

@keyframes marquee-left {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marquee-right {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.footer-bottom-information {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-logo-container.logo-full :is(img, svg) {
  max-width: 100%;
}
@media screen and (min-width: 768px) {

  .footer-logo-container.logo-small :is(img, svg) {
    max-width: 250px;
  }

  .footer-logo-container.logo-medium :is(img, svg) {
    max-width: 450px;
  }
  .footer-logo-container.logo-large :is(img, svg) {
    max-width: 600px;
  }
  .footer-block-item-menu {
    flex-shrink: 0;
  }

  .footer-copyright {
    display: grid;
    grid: auto-flow dense/repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .footer-block-item.footer-newsletter {
    flex-basis: 33.3333%;
  }
  .footernewsletter-form .form-control .form-control-input {
    min-height: 64px;
  }
  .footernewsletter-form .form-control .submit {
    width: 44px;
    min-width: 44px;
    height: 44px;
  }
}

@media (max-width: 767px) {
  .footer-logo-container.logo-small :is(img, svg) {
    max-width: 150px;
  }

  .footer-logo-container.logo-medium :is(img, svg) {
    max-width: 250px;
  }
  .footer-logo-container.logo-large :is(img, svg) {
    max-width: 350px;
  }
  .footer-wrapper.footer-card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-card .footer-inner-contain-box {
    padding: 20px 0px;
  }
  .footer-block-bottom {
    padding: 20px 0;
  }
  .footer-logo-wrapper.logo-position-bottom {
    padding: 20px 0;
  }
  .footer-logo-wrapper.logo-position-top {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .footer-block-bottom-item {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-text-marquee-wrapper,
  .footer-block-bottom-item .footer-social-icons {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer-social-icons .social-icons-link {
    min-width: 50px;
    height: 50px;
  }
  .footer-block-list-link {
    font-size: var(--text-size-base);
    padding: 3px 0;
  }
  .footer-bottom-information {
    text-align: left;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .footer-block-item-menu {
    max-width: 100%;
  }
}
