.section-main-header:has(.header-wrapper.is-sticky) {
  position: sticky;
  top: 0;
  z-index: 12;
}

.section-main-header:has(.header-wrapper.sticky-header-hide) {
  position: unset;
}

.header-wrapper.sticky-header-hide {
  transform: translateY(calc(-100% - var(--announcement-height)));
}

.header-wrapper {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  z-index: 12;
}

.site-header-nav {
  display: none;
  grid-area: navbar;
}

.site-header-icon {
  grid-area: icons;
}

.header-wrapper.is-sticky {
  position: sticky;
}

.header-wrapper.transparency-header {
  position: absolute;
  top: unset;
}

.transparency-header:not(.header-fill) .site-menu-link,
.transparency-header:not(.header-fill) .header-icons li .header-icon {
  color: rgb(var(--color-header-transparent));
}

.no-js .header-wrapper,
.header-wrapper.header-fill {
  background-color: rgb(var(--color-background-header));
  box-shadow: 0 2px 12px rgba(var(--color-divider), 0.3);
}

.header-menu-btn {
  display: inline-block;
  background-color: transparent;
  border: 0;
  padding: 5px;
  cursor: pointer;
}

.header-menu-btn span {
  height: 2px;
  width: 30px;
  display: block;
  margin: 6px 0;
  background-color: rgb(var(--color-text-header));
}

.transparency-header:not(.header-fill) .header-menu-btn span {
  background-color: rgb(var(--color-header-transparent));
}

.header-menu-btn:hover span {
  animation: drawer-toggle 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
}

.header-menu-btn:hover span:nth-child(2) {
  animation-delay: 0.1s;
}

@keyframes drawer-toggle {
  0%,
  100% {
    -webkit-clip-path: inset(-2px 0);
    clip-path: inset(-2px 0);
  }
  42% {
    -webkit-clip-path: inset(-2px 0 -2px 100%);
    clip-path: inset(-2px 0 -2px 100%);
  }
  43% {
    -webkit-clip-path: inset(-2px 100% -2px 0);
    clip-path: inset(-2px 100% -2px 0);
  }
}

.site-header-logo {
  grid-area: logo;
  max-width: max-content;
}

.site-navbar {
  display: grid;
  grid-template: "logo navbar icons" / minmax(0, 1fr) fit-content(80%) minmax(
      0,
      1fr
    );
  align-items: center;
  grid-gap: 0px 20px;
  padding: var(--header-menu-padding) 0px;
  --header-menu-padding: 16px;
}

.site-navbar-main-wrapper {
  margin-block-end: calc(0px - var(--header-menu-padding));
}

.logo-with-menu-left {
  grid-template: "logo navbar icons" / auto minmax(0, 1fr) auto;
}

.logo-center-below-menu {
  grid-template:
    "logo navbar icons" "navigation navigation navigation" / minmax(0, 1fr)
    auto minmax(0, 1fr);
  padding-top: 10px;
}

.logo-center-below-menu .site-header-logo {
  grid-column: 2 / span 1;
}

.logo-center-below-menu .site-header-nav {
  grid-area: navigation;
  grid-column: 1 / span 3;
  text-align: center;
}

.logo-center-menu-left {
  grid-template: "navbar logo icons" / minmax(0, 1fr) auto minmax(0, 1fr);
}

.site-navbar:is(.logo-left-menu-drawer, .logo-center-menu-drawer) {
  grid-template: "drawer logo icons" / minmax(0, 1fr) auto minmax(0, 1fr);
}

.site-menu-link {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0px;
  padding-block-end: var(--header-menu-padding);
  margin: 0 8px;
  font-family: var(--font-family-menu);
  font-weight: var(--font-weight-menu);
  font-size: var(--font-size-menu);
  color: rgb(var(--color-text-header));
  position: relative;
}

.site-menu-link:hover {
  color: rgb(var(--color-text-header-hover));
}

.site-menu-item .button {
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 80px;
}

.header-icons {
  display: flex;
  justify-content: flex-end;
  grid-gap: 10px;
}

.header-icons li .header-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: rgb(var(--color-text-header));
}

.header-icons li .header-icon:hover {
  transform: translateY(-2px);
}

.cart span {
  min-width: 20px;
  min-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-cart-bubble-background));
  color: rgb(var(--color-cart-bubble-text));
  border-radius: 50%;
  font-size: var(--text-size-small);
  position: absolute;
  top: -6px;
  right: -8px;
  transition: all 0.3s ease-in-out;
}

.mega-menu-item .media-wrapper {
  position: relative;
}

.mega-menu-item .media-wrapper::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.mega-menu-item:hover .media-wrapper::before {
  -webkit-animation: light 0.75s;
  animation: light 0.75s;
}

@-webkit-keyframes light {
  100% {
    left: 125%;
  }
}

@keyframes light {
  100% {
    left: 125%;
  }
}

.mega-menu-wrapper {
  width: 100%;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  text-align: left;
  padding: 2px 0;
}

.mega-menu-container {
  background-color: rgb(var(--color-background-submenu));
  color: rgb(var(--color-text-submenu));
  border-top: 1px solid rgb(var(--color-card-border));
  transition: all 0.4s ease;
  box-shadow: 0 4px 18px rgba(var(--color-divider), 0.2);
}

.mega-menu-conatin {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  --mega-menu-items: 6;
}

.mega-menu-card {
  display: grid;
  grid-template-columns: repeat(var(--mega-menu-items, 4), 1fr);
  gap: 20px;
  flex: 1;
}

.mega-menu-collection-list li + li {
  margin-top: 10px;
}

.mega-menu-collection-list li a {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  position: relative;
  z-index: 1;
  gap: 10px;
}

.mega-menu-collection-list li a:not(:hover) .arrow-icon-wrapper {
  width: 0px;
  height: 0px;
  min-width: 0px;
}

.mega-menu-collection-list .arrow-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background: transparent;
  color: currentColor;
}

.mega-menu-collection-list .arrow-icon-wrapper .arrow-icon {
  min-width: 12px;
  width: 12px;
  height: 12px;
}

.mega-menu-promotions-link {
  display: grid;
  gap: 10px;
}

.mega-menu-link-main {
  display: block;
  margin-bottom: 0.8rem;
}

.mega-menu-link-main .menu-icon {
  display: none;
}

.mega-menu-item-inner li a {
  display: inline-block;
  padding: 8px 0px;
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, currentColor, currentColor) 0
    min(100%, 1.3lh) / 0 1px no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.mega-menu-item-inner li a:hover,
.dropdown-menu-nav li a:hover {
  background-size: 100% 1px;
  color: rgba(var(--color-text-submenu-hover));
}

.site-dropdown-menu {
  position: relative;
}

.dropdown-contain {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  padding: 8px 0;
  border: 1px solid rgb(var(--color-card-border));
  transition: all 0.4s ease;
  text-align: left;
  box-shadow: 0 0px 2px #00000045;
  border-radius: 8px;
}

.dropdown-menu-nav li {
  padding: 0px 24px;
  display: flex;
}

.dropdown-menu-nav li a {
  display: inline-block;
  background: linear-gradient(to right, currentColor, currentColor) 0
    min(100%, 1.3lh) / 0 1px no-repeat;
  transition: background-size 0.3s ease-in-out;
  padding: 6px 0px;
}

.dropdown-menu-nav li ul li a {
  padding: 3px 0;
}

/* Header Drawer Menu  */

.header-drawer-menu {
  display: block;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  height: calc(100% - 0px);
  color: var(--color-text-header);
  font-family: var(--font-family-menu);
  background: rgba(
    var(--color-overlay-background) / var(--color-overlay-opacity)
  );
}

.header-drawer-menu-inner {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 100%;
  width: 101%;
  z-index: 99;
  --mega-menu-items: 2;
  -webkit-transform: translateX(-110%);
  transform: translate(-110%);
  transition: 0.5s ease-in-out;
}

.header-drawer-menu-body {
  height: 100%;
  max-width: 600px;
  position: relative;
  cursor: auto;
  -webkit-transform: translateX(-110%);
  transform: translate(-110%);
  transition: 0.5s ease-in-out;
  will-change: transform;
}

.header-drawer-menu-inner.open,
.header-drawer-menu.open .header-drawer-menu-body {
  -webkit-transform: translateX(0);
  transform: translate(0);
}

.header-drawer-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(var(--color-background));
  padding: 16px;
}

.header-drawer-menu .drawer-close {
  top: 10px;
  right: 20px;
  z-index: 1;
  background: rgba(var(--color-background-foreground));
}

.header-drawer-menu-list,
.header-drawer-menu-inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width: 100%;
  margin: 30px auto 0;
  padding: 0 16px;
  flex-wrap: wrap;
}

.header-drawer-menu-inner-list {
  gap: 10px;
}

.header-drawer-menu-list li,
.header-drawer-menu-inner-list > * {
  width: 100%;
  flex: 0 0 100%;
}

.header-drawer-menu-list li:not(:first-child) {
  border-top: 1px dashed rgba(var(--color-divider));
}

.header-drawer-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  font-family: var(--font-family-menu);
  font-weight: var(--font-weight-menu);
  font-size: var(--font-size-menu);
  color: rgb(var(--color-text-header));
  position: relative;
}

.header-drawer-menu-item:hover {
  color: rgb(var(--color-text-header-hover));
}

.header-drawer-menu .header-drawer-menu-list li .header-drawer-menu-link {
  font-size: calc(1.1rem);
}

.header-drawer-menu .mega-menu-item-inner li a {
  font-size: calc(1rem);
  padding: 12px 0;
  background: unset;
  color: rgb(var(--color-text-submenu));
}

.header-drawer-menu .mega-menu-item-inner li a:hover {
  color: rgb(var(--color-text-submenu-hover));
}

.drawer-menu-parent-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: rgba(var(--color-heading-text), 0.1);
  padding: 10px 12px;
  border: 0;
  color: rgba(var(--color-heading-text));
  cursor: pointer;
  border-radius: 6px;
}

.drawer-menu-parent-link svg {
  width: 7px;
  height: auto;
  vertical-align: middle;
  display: block;
}

.header-drawer-menu-icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.dropdown-menu-nav li > a .menu-icon {
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
  position: absolute;
  top: 10px;
  right: 15px;
}

.mega-menu-promotions-text p {
  margin-top: 1px;
}

.mobile-drawer-btm {
  padding: 16px 30px;
  text-align: center;
  margin-top: auto;
  font-size: var(--text-size-small);
}

.mobile-drawer-btm .social-icons-list {
  justify-content: center;
  margin: 35px 0;
}

.mobile-drawer-btm .social-icons-list .social-icons-link {
  width: 32px;
  height: 32px;
  border: 1px solid currentColor;
  border-radius: 50%;
}

.mobile-contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  border-top: 1px solid rgba(var(--color-divider));
}

.mobile-contact-info > a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile-contact-info > a svg {
  width: 16px;
  min-width: 16px;
}

.header-drawer-menu .mega-menu-item-inner {
  margin-bottom: 20px;
}

.header-drawer-menu .mega-menu-item-inner li > .mega-menu-link {
  display: flex;
  align-items: center;
}

.header-drawer-menu
  .mega-menu-item-inner
  li
  > .mega-menu-link
  .header-drawer-menu-icon {
  margin-left: auto;
}

.header-drawer-menu .mega-menu-item-inner.child {
  display: none;
  margin-bottom: 20px;
}

.header-drawer-menu .mega-menu-item-inner.child li {
  border: 0;
}

.header-drawer-menu .mega-menu-item-inner.child li a {
  font-size: calc(0.9rem);
  padding: 0px 0 8px;
}

.header-drawer-menu-list > li .button {
  margin: 20px 0;
  border-radius: 80px;
}

.header-drawer-menu .localization-form-wrapper {
  display: flex;
  gap: 20px;
  position: relative;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(var(--color-divider));
}

.header-drawer-menu .language-selector {
  height: auto;
  padding: 0;
  border: 0;
}

.header-drawer-menu .detail-box {
  display: block;
  position: static;
}

.header-drawer-menu .detail-box .detail-expand {
  top: unset;
  bottom: calc(0% + 30px);
  left: 0;
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 20px 30px;
  border: 1px solid rgb(var(--color-divider));
}

.header-drawer-menu .mega-menu-item {
  max-width: calc(50% - 5px);
  margin-bottom: 18px;
}

.header-drawer-menu .mega-menu-promotions-link {
  gap: 5px;
}

.header-wrapper .enlarged-logo-wrapper .logo-image-wrapper {
  position: absolute;
  top: calc(var(--header-height) - var(--announcement-height) + 20px);
  transform: translate3d(-50%, 0, 0);
  left: 50%;
  width: calc(100vw - calc(var(--container-padding) * 2));
  height: 100%;
  padding: 0 20px;
  max-width: var(--container-width);
  transition: all 0.8s ease;
}

.header-wrapper.original-logo .enlarged-logo-wrapper .logo-image-wrapper {
  top: 0;
  transform: translate3d(-50%, 0, 0);
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.header-wrapper .enlarged-logo-wrapper .logo-image-wrapper .logo-img {
  max-width: unset !important;
  width: 100% !important;
}

.header-wrapper.transparency-header .main-header-logo {
  display: none;
}

.header-wrapper.transparency-header.header-fill .transparent-header-logo {
  display: none;
}

.header-wrapper.transparency-header.header-fill .main-header-logo {
  display: block;
}
.enlarged-logo-wrapper {
  opacity: 0;
  transition: opacity 0.8s ease;
}
.enlarged-logo-loaded .enlarged-logo-wrapper {
  opacity: 1;
}
@media (min-width: 1441px) {
  .site-menu-link {
    margin: 0 20px;
  }
}

@media (min-width: 1025px) {
  .logo-center-below-menu .site-navbar-nav {
    display: inline-flex;
  }
  .logo-center .site-header-item:nth-child(2) {
    order: -1;
  }
  .site-navbar:not(.logo-left-menu-drawer, .logo-center-menu-drawer)
    .header-drawer-btn {
    display: none;
  }
  .site-header-nav {
    display: block;
  }
  .site-navbar-nav {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .site-menu-item:is(.active, :hover, :focus-within) .mega-menu-wrapper {
    pointer-events: all;
  }
  .site-menu-item:is(.active, :hover, :focus-within) > .dropdown-wrapper {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .site-menu-item:is(.active, :hover, :focus-within)
    :is(.mega-menu-container, .dropdown-contain) {
    visibility: visible;
    transform: translateY(0);
  }
  .mega-menu-container {
    visibility: hidden;
    transform: translateY(-130%);
  }
  .dropdown-wrapper,
  .mega-menu-wrapper {
    position: absolute;
    left: 0;
    pointer-events: none;
    max-width: 100%;
    z-index: 2;
  }
  .dropdown-wrapper {
    min-width: 250px;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: unset;
    left: unset;
  }
  .site-dropdown-menu .dropdown-wrapper li .dropdown-wrapper {
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  .dropdown-wrapper li:is(:hover, :focus-within) .dropdown-wrapper {
    opacity: 1;
    visibility: visible;
  }
  .dropdown-contain {
    visibility: hidden;
    transform: translateY(30px);
  }

  .dropdown-menu-nav .dropdown-wrapper {
    min-width: 0;
    max-width: 0;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    max-width: 0;
    transition: max-width 0.3s ease-in-out, min-width 0.3s ease-in-out,
      opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .dropdown-menu-nav li:is(:hover, :focus-within) .dropdown-wrapper {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    max-width: 250px;
    min-width: 250px;
  }

  .dropdown-menu-nav .dropdown-wrapper .reversed-link {
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header-icons li .header-icon.cart:hover span {
    top: -10px;
  }
}

@media (max-width: 1024px) {
  .header-drawer-menu {
    padding: 16px;
  }
  .header-drawer-menu-content {
    position: relative;
    border-radius: 12px;
  }
  .social-icons-box,
  .localization-main-wrapper {
    display: none !important;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    --header-menu-padding: 14px;
  }
  .site-navbar.logo-center-menu-left {
    display: grid;
  }
  .header-icons .user {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-wrapper .logo-image-wrapper {
    display: block;
  }
  .header-icons {
    grid-gap: 10px;
  }
}
