.image-with-text-content-wrapper {
  padding: 20px;
  padding-bottom: 0px;
}

.image-with-text-container.round-enabled,
.image-with-text-img.round-enabled {
  border-radius: var(--block-card-radius);
  overflow: hidden;
}

.image-with-text-container.round-enabled .card-enabled {
  background-color: rgb(var(--color-background-card));
  border: 1px solid rgb(var(--color-card-border));
  border-radius: var(--block-card-radius);
  padding: 20px;
}

.image-with-text-img-overlap .media-position-right .image-with-text-img {
  margin-left: auto;
}

.image-with-text-img-overlap
  .media-position-right
  .image-with-text-img.secondary {
  left: auto;
  right: calc(-50% - var(--space-column, 0px));
}

.image-media--adapt {
  height: auto;
}

.image-media--small {
  height: 350px;
}

.image-media--medium {
  height: 500px;
}

.image-media--large {
  height: 650px;
}

@media screen and (min-width: 768px) {
  .image-with-text-container.round-enabled .card-enabled {
    padding: 50px;
  }
  .media-position-right {
    flex-direction: row-reverse;
  }

  .image-with-text-img-overlap .image-with-text-img {
    max-width: 70%;
  }

  .image-with-text-img img {
    transition: transform 0.2s ease-in-out;
  }

  .image-with-text-img img:hover {
    transform: scale(1.1);
  }

  .image-with-text-img-overlap .image-with-text-img.secondary {
    max-width: 40%;
    position: absolute;
    top: 50%;
    left: calc(-50% - var(--space-column, 0px));
    margin: 0;
    width: 100%;
    transform: translateY(-50%);
  }
  .image-with-text-content ~ .image-with-text-img {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .image-with-text-container .grid-wrapper-flex {
    flex-direction: column-reverse;
  }
  .image-with-text-content,
  .image-with-text-content ~ .image-with-text-img {
    margin-bottom: 30px;
  }
  .image-with-text-content-wrapper {
    padding: 0px;
  }
}
