.main-blog-tab {
  overflow-x: auto;
  margin: 30px 0px 40px;
}

.blog-tab-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}

.blog-tab-nav li .blog-tab-link {
  display: block;
  padding: 10px 22px;
  font-size: var(--text-size-large);
  transition: all 0.4s ease;
  border-radius: 80px;
  border: 1px solid rgba(var(--color-button-border));
  background-color: rgba(var(--color-alternate-button-background));
  color: rgba(var(--color-alternate-button-text));
  position: relative;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}
p.blog-desc {
  margin-top: 10px;
}

.blog-tab-nav li .blog-tab-link:before {
  position: absolute;
  content: "";
  top: 0;
  left: -25px;
  right: -50px;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border-radius: var(--button-radius);
  border-right: 50px solid transparent;
  border-bottom: 80px solid rgb(var(--color-button-text-hover));
  transform: translate(-100%);
  opacity: 0;
}

.blog-tab-nav li .blog-tab-link:is(:hover, .active) {
  color: rgba(var(--color-button-background-hover));
}

.blog-tab-nav li .blog-tab-link:is(:hover, .active):before {
  transform: translate(0);
  opacity: 1;
}

.main-blog-grid .blog-item:is(:nth-child(1)) .blog-content {
  position: absolute;
  left: 0px;
  bottom: 0px;
  max-height: 100%;
  overflow-y: auto;
  color: rgb(var(--color-text-card));
  padding: 26px;
}

.main-article-banner {
  margin-bottom: 24px;
}

.article-banner-img {
  position: relative;
  overflow: hidden;
}

.article-banner-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(25%, rgba(var(--color-overlay-background) / 0)),
    to(rgba(var(--color-overlay-background, var(--color-overlay-opacity))))
  );
  background-image: linear-gradient(
    180deg,
    rgba(var(--color-overlay-background) / 0) 25%,
    rgba(var(--color-overlay-background, var(--color-overlay-opacity)))
  );
}

.article-banner-img + .article-banner-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.article-container .article-banner-content > .container {
  padding: 0;
}

.article-banner-img + .overlay-title * {
  color: rgba(var(--color-background));
}

.article-container {
  max-width: 98%;
  margin: 0 auto;
  padding: 0 20px;
}

.article-comments-form-card {
  display: grid;
  gap: 20px;
  padding: 24px;
  border: 1px solid rgba(var(--color-divider));
  border-radius: var(--block-card-radius);
  margin-top: 30px;
}

.article-comments-header h4 {
  margin-top: 0;
}

.article-comments-submit .button {
  margin: 0;
}

.article-comment-card {
  background-color: rgba(var(--color-background-foreground));
  color: rgba(var(--color-text));
  border-radius: 8px;
  padding: 24px;
  margin-top: 30px;
}

.article-comment-card > p {
  margin: 0 0 20px;
}

.article-comment-card .date {
  display: inline-flex;
  gap: 5px;
  font-size: var(--text-size-small);
  color: rgba(var(--color-text), 0.5);
  margin: 5px 0 0;
}

@media (min-width: 768px) {
  .main-article-banner {
    margin-bottom: 60px;
  }
  .blog-grid-wrapper {
    grid: auto / repeat(12, minmax(0, 1fr));
  }

  .blog-item {
    grid-column: span 4;
  }

  .main-blog-grid .blog-item:nth-child(1) {
    grid-column: span 8;
  }

  .article-container {
    max-width: 80%;
  }
  .article-comments-form-card {
    display: grid;
    gap: 30px;
    padding: 48px;
  }
  .article-post-icons {
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .main-blog-grid .blog-item:is(:nth-child(1)) .blog-content {
    position: unset;
    color: rgb(var(--color-text));
    padding: 16px 0;
  }
  .blog-tab-nav li .blog-tab-link {
    padding: 6px 22px;
    font-size: var(--text-size-base);
  }
  .article-banner-img + .article-banner-content {
    max-width: 97%;
  }
  .article-post-icons {
    margin: 15px 0;
  }
}
