.overlay-banner-height-fullscreen {
  --overlay-banner-height: 100vh;
}
.overlay-banner-height-large {
  --overlay-banner-height: 550px;
}

.overlay-banner-height-medium {
  --overlay-banner-height: 450px;
}

.overlay-banner-height-small {
  --overlay-banner-height: 400px;
}

.overlay-banner-container {
  display: block;
  position: relative;
  height: var(--overlay-banner-height, 650px);
}

.overlay-banner-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-banner-bg img {
  transform-origin: 50% 65%;
  transition: transform 10s ease-in-out;
}

.overlay-banner-container:hover .overlay-banner-bg.active img {
  transform: scale(1.1);
}

.overlay-banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0 !important;
  transform: scale(1.08);
  transition: transform 0.8s cubic-bezier(0.37, 0.31, 0.2, 0.85),
    opacity 1s ease;
  will-change: opacity, transform;
  backface-visibility: hidden;
}

.overlay-banner-bg.active {
  opacity: 1 !important;
  backface-visibility: visible;
}

.overlay-banner-grid {
  display: grid;
  grid-template-columns: repeat(var(--column-per-row), 1fr);
  height: 100%;
}

.overlay-banner-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.overlay-banner-hover-content {
  width: 100%;
  height: var(--overlay-banner-height);
  padding: 40px;
  overflow-y: auto;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.overlay-banner-hover-content-inner {
  max-height: 100%;
  overflow-y: auto;
}

.overlay-collection-list {
  margin-bottom: 28px;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.overlay-banner-item:hover .overlay-collection-list {
  transform: translate(0);
  opacity: 1;
}

.overlay-collection-list,
.overlay-heading-wrapper {
  position: relative;
}

.overlay-collection-list-item {
  font-size: var(--text-size-large);
  margin-bottom: 8px;
}

.overlay-collection-list-item a {
  background: linear-gradient(to right, currentColor, currentColor) 0
    min(100%, 1.3lh) / 0 1px no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.overlay-collection-list-item a:hover {
  background-size: 100% 1px;
  color: rgba(var(--color-link));
}

.overlay-heading-wrapper .button-underline {
  margin-top: 14px;
  display: inline-block;
}

@media (min-width: 768px) {
  .overlay-banner-height-large {
    --overlay-banner-height: 800px;
  }

  .overlay-banner-height-medium {
    --overlay-banner-height: 650px;
  }

  .overlay-banner-bg-image {
    overflow: hidden;
  }
  .overlay-banner-background,
  .overlay-banner-background-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translate(-101%);
    background-color: rgb(var(--color-background));
    backdrop-filter: blur(6px);
  }

  .overlay-banner-background {
    mix-blend-mode: multiply;
  }

  .overlay-banner-item:hover .overlay-banner-background {
    opacity: 1;
    transform: translate(0);
    transition: all 0.4s ease;
  }

  .overlay-banner-item:hover .overlay-banner-background-2 {
    opacity: 1;
    transform: translate(101%);
    transition: all 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@media (min-width: 1025px) {
  .overlay-collection-list {
    opacity: 0;
    transform: translate3d(-100%, 0%, 0);
  }
}

@media (max-width: 767px) {
  .overlay-banner-bg-image,
  .overlay-banner-grid {
    display: flex;
  }
  .overlay-banner-bg {
    position: unset;
    opacity: 1 !important;
    backface-visibility: visible;
    flex: 0 0 85%;
    transform: scale(1);
  }
  .overlay-banner-item {
    flex: 0 0 85%;
  }
  .overlay-banner-hover-content {
    padding: 24px;
  }
  .overlay-banner-background,
  .overlay-banner-background-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgb(var(--color-background));
    backdrop-filter: blur(6px);
  }
  .overlay-banner-item .overlay-banner-background {
    opacity: 0.2;
  }
  .overlay-collection-list-item {
    font-size: var(--text-size-base);
    margin-bottom: 4px;
  }

  .overlay-banner-title br {
    display: none;
  }
}
