.slideshow-slider {
  overflow: hidden;
}

.slideshow-slider-item {
  overflow: hidden;
}

slideshow-image {
  display: flex;
  background: rgb(var(--color-media-background));
  position: absolute;
  width: 100%;
  height: 100%;
}

slideshow-image:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(
    var(--color-overlay-background) / var(--color-overlay-opacity)
  );
}

.slideshow-img {
  height: 100%;
  width: 100%;
}

slideshow-image .slideshow-image,
slideshow-image .slider-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-height-adapt:after {
  content: "";
  height: 0;
  display: block;
  padding-top: var(--media-ratio);
}

.slideshow-content {
    position: absolute;
    width: 100%;
    color: rgb(var(--color-text));
    max-height: 65%;
    overflow-y: auto;
    margin: 5px 0 50px;
    padding: 5px 0;
}
.slideshow-contain.container .slideshow-content,
.slideshow-slider:not(.slideshow-style-single) .slideshow-content {
  padding: 10px 30px;
}

.slideshow-subtitle {
  display: block;
}
.slideshow-heading {
  margin-bottom: 10px;
}

.slideshow-navigator:not(.controls-style-dots) {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 25px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: min(
    calc(100vw - var(--scrollbar-width, 0px) - var(--container-padding) * 2),
    var(--container-width)
  );
  margin-left: auto;
  margin-right: auto;
}

.slideshow-navigator.text-align-left {
  justify-content: left;
}

.slideshow-navigator.text-align-center {
  justify-content: center;
}

.slideshow-navigator.text-align-right {
  justify-content: right;
}

.slideshow-slider .swiper-button {
  width: 40px;
  height: 40px;
  background-color: rgb(var(--color-slider-arrow-background), 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: rgb(var(--color-slider-arrow));
  position: static;
  border: 0;
  margin: 0;
}

.swiper-pagination.swiper-pagination-fraction {
  position: static;
  color: rgb(var(--color-slider-arrow));
  width: auto;
  min-width: 50px;
  font-style: italic;
  font-size: var(--text-size-base);
}

.navigation-position-outside .slideshow-navigator:not(.controls-style-dots) {
  position: static;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation-position-outside.slideshow-slider .swiper-button {
  background: rgba(var(--color-text));
}

.navigation-position-outside .swiper-pagination.swiper-pagination-fraction {
  color: rgba(var(--color-text));
}

.slideshow-navigator .swiper-pagination-bullets {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 30px;
  left: unset;
  bottom: unset;
  z-index: 1;
  text-align: right;
  color: rgba(var(--color-background));
  transform: translateY(-50%);
  width: auto;
}

.slideshow-navigator .swiper-pagination-bullet {
  margin: 0 !important;
  width: auto;
  display: flex;
  justify-content: flex-end;
  height: auto;
  padding: 11px 0;
  background: transparent;
  opacity: 1;
}

.slideshow-navigator .swiper-pagination-bullet:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 3px;
  background-color: rgba(var(--color-background), 0.5);
  transition: all 0.3s ease-in-out;
  margin: 0;
}

.slideshow-navigator
  .swiper-pagination-bullet:is(
    .swiper-pagination-bullet-active,
    :hover
  ):before {
  width: 50px;
  background-color: rgba(var(--color-background));
}

@media (min-width: 768px) {
  .slideshow-slider-item .mobile-media{
    display:none !important;
  }
}
@media (max-width: 767px) {
  .slideshow-slider-item .desktop-media{
    display:none !important;
  }
  .slideshow-slider .slideshow-content {
    padding: 10px 20px;
  }
  .slider-height-full {
    height: calc(100vh - 20px);
  }
  .slider-height-xlarge {
    height: 750px;
  }
  .slider-height-large {
    height: 650px;
  }
  .slider-height-medium {
    height: 550px;
  }
  .slider-height-small {
    height: 450px;
  }
  .m-text-align-left {
    text-align: left;
  }
  
  .m-text-align-center {
    text-align: center;
  }
  
  .m-text-align-right {
    text-align: right;
  }
  
}
