html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(var(--color-background));
  color: rgba(var(--color-text));
  scroll-behavior: smooth;
  font-size: var(--text-size-base);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  word-break: break-word;
  line-height: var(--font-line-height-body);
  letter-spacing: var(--font-letter-spacing-body);
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

[class*="color-scheme-"] {
  background-color: rgba(var(--color-background));
  color: rgba(var(--color-text));
}

.section-space {
  padding-top: var(--section-top-space, 0px);
  padding-bottom: var(--section-bottom-space, 0px);
}

@keyframes throbbing {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    transform: scale(1.6);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}

.password-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.3, 1);
}

.password-modal:is(:target, .open) {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.password-modal:is(:target, .open) .password-modal-inner {
  transform: scale(1);
}

.modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-text), 0.5);
}

.password-modal-inner {
  width: 100%;
  max-width: 580px;
  background-color: rgba(var(--color-background));
  color: rgba(var(--color-text));
  transition: transform 0.4s cubic-bezier(0.6, 0, 0.3, 1);
  height: auto;
  max-height: 90vh;
  transform: scale(0.8);
  border-radius: var(--block-card-radius);
  padding: 50px;
  text-align: center;
}

.password-modal-inner > *:not(:last-child) {
  margin-bottom: 22px;
}

.password-modal-inner .form-control-input {
  margin-bottom: 0;
}

.password-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.close-modal {
  background: transparent;
  border: 0;
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: absolute;
  top: 12px;
  right: 12px;
}

.password-body {
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-content {
  max-width: 650px;
  text-align: center;
}

.password-title {
  margin-bottom: 40px;
}

.password-text {
  margin: 0 0 20px;
}

.password-content .newsletter--form .button {
  margin-top: 6px;
}

.social-icons-box {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.social-icons-list li {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: rgba(var(--color-text));
  padding: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
newsletter-form {
  display: block;
  width: 100%;
}
.social-icons-link:hover {
  transform: translateY(-3px);
}

.social-icons-link > svg {
  position: relative;
}

.localization-main-wrapper {
  display: inline-flex;
  align-items: center;
}

.language-selector-inner {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.language-selector-item button {
  border: 0;
  padding: 6px 0;
  background-color: transparent;
  font-size: var(--text-size-base);
  color: rgba(var(--color-text));
}

.detail-box {
  position: relative;
}

.detail-box .detail-expand {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 100%;
  min-width: 220px;
  max-width: 220px;
  max-height: 210px;
  overflow-y: auto;
  z-index: 99;
  background-color: rgba(var(--color-background-foreground));
  padding: 12px;
  border-radius: 8px;
  text-align: left;
  transform: scale3d(0.8, 0.8, 1);
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.detail-box.active .detail-expand {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  scrollbar-width: thin;
}

.detail-box .detail-expand::-webkit-scrollbar {
  width: 6px;
  background-clip: padding-box;
  background: rgba(var(--color-text));
}

.detail-box .detail-expand::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(var(--color-background-foreground));
}

.detail-box .detail-expand::-webkit-scrollbar-track {
  border: none;
  background: rgba(var(--color-text));
}

.custom-select-button,
.currency-selected-item {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: var(--text-size-base);
  color: rgba(var(--color-text));
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.currency-selector-list {
  display: none;
}

.custom-select-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px 0px;
  font-size: var(--text-size-base);
  color: rgba(var(--color-text));
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
}

.media-content-lg {
  max-width: 90%;
}

.media-content-md {
  max-width: 750px;
}

.media-content-sm {
  max-width: 500px;
}

.text-top-left {
  top: 15px;
  left: 15px;
}

.text-top-center {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.text-top-right {
  top: 15px;
  right: 0px;
}

.text-center-left {
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.text-center-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center-right {
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.text-bottom-left {
  bottom: 15px;
  left: 0px;
}

.text-bottom-center {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.text-bottom-right {
  bottom: 15px;
  right: 0px;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  width: 38px;
  height: 38px;
  border-radius: 6px;
  background-color: rgba(var(--color-slider-arrow-background));
  color: rgba(var(--color-slider-arrow));
  border: 1px solid rgba(var(--color-slider-arrow-background));
  transition: 0.3s ease-in-out;
  margin: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(var(--color-slider-arrow));
  color: rgba(var(--color-slider-arrow-background));
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: var(--text-size-base);
  font-weight: var(--font-weight-heading);
}

.swiper-button-topright,
.swiper-button-bottomright {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.swiper-button-topright {
  top: calc(0% - 86px);
}

.swiper-button-bottomright {
  bottom: calc(0% - 44px);
}

.swiper-button-p-static {
  display: flex;
  gap: 20px;
}

.swiper-button-p-static .swiper-button,
.swiper-button-topright .swiper-button,
.swiper-button-bottomright .swiper-button {
  position: static;
}

.swiper-button-p-static .swiper-button-next,
.swiper-button-topright .swiper-button-next,
.swiper-button-bottomright .swiper-button-next {
  order: 1;
}

.swiper-pagination.swiper-progressbar {
  width: 60%;
  height: 4px;
  margin: 0px auto 0;
  background: rgba(var(--color-swiper-pagination));
  border-radius: var(--block-card-radius);
  --color-swiper-pagination: 239 239 239;
  --color-swiper-progressbar: 0 0 0;
  overflow: hidden;
  display: flex;
  left: 0;
  right: 0;
  bottom: calc(0% - 22px);
}

.swiper-pagination.swiper-progressbar .swiper-pagination-progressbar-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
  background: rgba(var(--color-swiper-progressbar));
  border-radius: var(--block-card-radius);
}

.swiper-button-small .swiper-button {
  width: 30px;
  height: 30px;
}

.swiper-button-small .swiper-button:after {
  font-size: var(--text-size-small);
}

.price-main {
  display: block;
  margin-bottom: 8px;
}

.filter-swatchs-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 2px;
}

.filter-swatchs-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: relative;
}

.filter-swatchs-item input {
  overflow: hidden;
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  min-height: auto;
  margin: 0;
  background: transparent;
}

.filter-variant-item {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  padding: 2px;
  border: 1.5px solid rgba(var(--color-card-border), 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filter-swatchs-item input:hover + .filter-variant-item,
.filter-swatchs-item input:checked + .filter-variant-item {
  border-color: rgba(var(--color-card-border));
  padding: 5px;
}

.filter-variant-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  font-size: var(--text-size-xsmall);
}

.facets-accordion-label .filter-swatchs-item {
  width: 36px;
  height: 36px;
}

.facets-price-ranges .noUi-horizontal .noUi-handle {
  top: -13px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(var(--color-text));
  color: rgba(var(--color-background));
  box-shadow: none;
  border: none;
}

.facets-price-ranges .noUi-connect {
  background: rgba(var(--color-text));
}

.facets-price-ranges .noUi-handle:after,
.facets-price-ranges .noUi-handle:before {
  width: 1px;
  height: 10px;
  background: currentcolor;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.facets-price-ranges .noUi-handle:after {
  left: 17px;
}

.section-header:not(.shopify-section) {
  display: grid;
  align-items: center;
  padding-bottom: var(--heading-bottom-space);
}

.section-header-with-button {
  grid-template-columns: 1fr;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 40px;
  font-size: var(--text-size-xsmall);
  margin-bottom: 8px;
}

.badge.badge-stock {
  background: rgba(var(--color-badge-stock-background));
  color: rgba(var(--color-badge-stock-text));
}
.badge.badge-sale {
  background-color: rgb(var(--color-sale-tag-background));
  color: rgb(var(--color-sale-tag-text));
}

.badge.badge-in-stock {
  background: rgba(var(--color-badge-in-stock-background));
  color: rgba(var(--color-badge-in-stock-text));
}

.badge.badge-sold-out {
  background: rgba(var(--color-badge-in-stock-background));
  color: rgba(var(--color-badge-sold-out-text));
}

.product-info-inventory .lowstock {
  color: rgba(var(--color-badge-sold-out-text));
}
.product-item-shipping-tax a {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.product-info-inventory .lowstock + .product-rangebar .product-rangebar-fill {
  background-color: rgba(var(--color-badge-sold-out-text));
}

.product-info-inventory .instock {
  color: rgba(var(--color-badge-in-stock-text));
}

.product-info-inventory .instock + .product-rangebar .product-rangebar-fill {
  background-color: rgba(var(--color-badge-in-stock-text));
}

.price-sale {
  display: flex;
  grid-gap: 5px;
  color: rgba(var(--color-price));
  flex-wrap: wrap;
}

.discount-price {
  color: rgba(var(--color-sale-price));
}

/* swatchs style */

.product-variants-box .variant-swatches-box {
  max-width: 80%;
}

.variant-swatches-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.variant-swatches-text {
  margin-bottom: 8px;
}

input:is([type="checkbox"], [type="radio"]).swatch-input {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.swatch-label {
  background-color: var(--color-swatch-background);
  background-position: 50%;
  background-size: cover;
  width: 36px;
  height: 36px;
  border-radius: var(--variant-swatch-radius);
  transition: outline-color 0.3s, all 0.3s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #f3f3f3;
  margin: 0;
  animation: 1s ease-in-out;
  transform-origin: bottom;
}

.swatch-label:hover {
  transform: translate(0px, -3px);
}

.round .swatch-label {
  border-radius: 50%;
}

.round .swatch-label:after {
  content: "";
  position: absolute;
  box-shadow: inset 0 0 0 1.5px rgba(var(--color-text));
  border-radius: inherit;
  inset: calc(5px * -1);
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}

.swatches-list-item.active .swatch-label:after,
:checked + .swatch-label:after {
  opacity: 1;
}

.swatch-input.disabled + label {
  cursor:no-drop;
  text-decoration: line-through;
  pointer-events:no-drop;
}

.variant-swatches-list.square .swatch-label {
  width: 75px;
  height: 50px;
  padding: 3px;
  border-radius: var(--input-radius);
  border: 1px solid rgba(var(--color-divider));
  background-color: rgba(var(--color-background-foreground));
  text-align: center;
}

.square :checked + .swatch-label {
  border-color: rgba(var(--color-divider));
  background-color: rgba(var(--color-input-text));
  color: rgba(var(--color-input-background));
}


.area-scrollbar,
.mobile-scrollbar {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.map-wrapper {
  display: block;
}

.map-wrapper iframe {
  display: block;
  width: 100%;
}

/* Drawer style */

.drawer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 32;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  --drawer-position-x: -100%;
  cursor: none;
  padding: 12px;
}

.drawer.right {
  --drawer-position-x: 100%;
}

.drawer.bottom {
  top: unset;
  --drawer-position-x: 100%;
  align-items: flex-end;
  bottom: 0;
}
.drawer:is(.open, :target) {
  pointer-events: all;
  visibility: visible;
  --drawer-position-x: 0;
}

.drawer .overlay {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  transition-property: opacity, visibility, background-color;
  background-color: rgba(
    var(--color-overlay-background) / var(--color-overlay-opacity)
  );
  opacity: 0;
}

.drawer:is(.open, :target) > .overlay {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.drawer-inner-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--color-background-drawer));
  color: rgba(var(--color-foreground));
  width: 100%;
  height: 100%;
  max-width: 500px;
  transform: translate(calc(var(--drawer-position-x) * 1));
  position: relative;
  padding: 22px 0;
  transition: 0.5s ease-in-out;
  cursor: auto;
}

.product-quick-view-drawer .drawer-inner-card {
  padding-right: 0;
}

.quick-view-info .ask-question-wrapper {
  padding: 0;
  margin: 0;
  border: 0;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.drawer.top .drawer-inner-card {
  max-width: 100%;
  height: 78%;
  transform: translateY(calc(var(--drawer-position-x) * 1));
}

.drawer.bottom .drawer-inner-card {
  padding-top: 50px;
}

.drawer.bottom .drawer-inner-card {
  max-width: 100%;
  height: 85%;
  transform: translateY(calc(var(--drawer-position-x) * 1));
}

.drawer.left .drawer-inner-card {
  justify-content: flex-start;
}

.drawer.right .drawer-inner-card {
  justify-content: flex-end;
  margin-left: auto;
}

.drawer-inner-card.drawer-full {
  max-width: 100%;
}

.drawer-heading {
  display: flex;
  gap: 12px;
  max-width: calc(100% - 44px);
  padding-bottom: 24px;
}

.drawer-head,
.drawer-body {
  padding-left: 22px;
  padding-right: 22px;
}

.drawer-body {
  overscroll-behavior-y: contain;
  flex: auto;
  overflow-y: auto;
}

.drawer-close {
  position: absolute;
  top: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--button-radius);
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Modal Dialog Style */
.modal-dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  will-change: transform;
  z-index: 99;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  padding: 20px;
  background: transparent;
}

.modal-dialog-overlay {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: var(--color-overlay-opacity);
  transition: 0.4s ease;
  pointer-events: none;
  background: rgba(var(--color-overlay-background));
}

.modal-dialog-wrapper:is(:target, .active) {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.modal-dialog-card {
  padding: 16px;
  background-color: rgba(var(--color-background));
  width: 100%;
  max-width: 440px;
  margin: 0;
  position: relative;
  max-height: 100%;
  transform: translateY(35%);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  overflow: hidden;
  overflow-y: auto;
  border-radius: var(--block-card-radius);
}

.modal-dialog-card:is(.image-position-left) {
  max-width: 640px;
}

.modal-dialog-wrapper:is(:target, .active) .modal-dialog-card {
  transform: translate(0, 0);
}

.modal-dialog-card .drawer-close {
  top: 10px;
  right: 15px;
  width: 26px;
  height: 26px;
  padding: 0px;
}
.modal-dialog-card .drawer-close svg {
  width: 100%;
  height: 100%;
  min-width: auto;
}

.image-position-top .drawer-close {
  background: rgba(var(--color-background));
  right: 20px;
}

.image-position-left .newsletter-content {
  display: flex;
}

.image-position-top .newsletter-content .newsletter-form-wrapper {
  padding: 18px;
}

.newsletter-imgbox {
  flex: 0 0 100%;
  max-width: 40%;
  border-radius: var(--block-card-radius);
  overflow: hidden;
}

.image-position-top .newsletter-content .newsletter-imgbox {
  max-width: 100%;
}

.newsletter-imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsletter-form-wrapper {
  flex-grow: 1;
  padding: 30px;
  align-self: center;
  max-height: 400px;
  overflow-y: auto;
}

.modal-dialog-logo {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(var(--color-divider));
}

.modal-dialog-head {
  margin-bottom: 20px;
}

.newsletter-form-wrapper .button {
  margin: 0;
}

.age-verify-content {
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.modal-dialog-buttons-wrapper .button {
  margin: 3px 0;
}

/* Modal Dialog Style End */

.button-right {
  right: 30px;
  margin-left: auto;
}

.search-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  border: 1px solid rgba(var(--color-input-border));
  border-radius: var(--input-radius);
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(var(--color-input-background));
}

.search-input-box > input {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border-radius: 0;
  outline: none;
  flex-grow: 1;
  width: 100%;
  border: 0;
  font-size: var(--text-size-medium);
  color: rgba(var(--color-text));
}

.search-input-box button {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0 3px;
  flex: 1 1;
  white-space: nowrap;
}

.predictive-search-suggestion {
  margin-bottom: 20px;
}

.predictive-search-loading-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.predictive-search-suggestion-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.predictive-search-label {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
}

.predictive-search-suggestion-inner li a {
  display: inline-flex;
  align-items: center;
  font-size: var(--text-size-small);
  padding: 6px 15px;
  margin-right: 8px;
  margin-bottom: 8px;
  background: rgba(var(--color-background-foreground));
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.predictive-search-suggestion-inner li a:hover {
  background-color: rgba(var(--color-text));
  color: rgba(var(--color-background));
  transform: translateY(-3px);
}

.predictive-search-products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
  grid-gap: 10px;
}

.predictive-search-tabcontent {
  margin-bottom: 20px;
}

.search-blog-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.search-blog-item + .search-blog-item {
  margin-top: 30px;
}

.search-blog-item figure {
  width: 144px;
  flex-shrink: 0;
  display: block;
  border-radius: var(--block-card-radius);
  overflow: hidden;
}

.search-collectin-box figure {
  border-radius: var(--block-card-radius);
  overflow: hidden;
}

.search-collectin-box figure img,
.search-blog-item figure img {
  display: block;
}

.search-blog-content p {
  margin-top: 6px;
}

.search-pages-list li {
  border-bottom: 1px solid rgba(var(--color-divider));
  list-style-position: inside;
}

.search-pages-list li a {
  display: inline-block;
  padding: 14px 0;
  font-size: var(--text-size-large);
  font-weight: var(--font-weight-heading);
}

.search-result-form-wrapper {
  max-width: 800px;
  margin: 60px auto;
  text-align: center;
  display: grid;
  gap: 20px;
}

.search-result-article .blog-grid-wrapper {
  --blog-item-per-row: 3;
  --blog-item-gap: 20px;
}

.search-result-pages .search-pages-list li {
  border-bottom: 0;
  list-style: none;
}

.search-result-pages .search-pages-list li a {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 340px;
  background: rgba(var(--color-background-foreground));
  border-radius: var(--block-card-radius);
}

.search-result-products {
  display: flex;
  flex-wrap: wrap;
}

.search-result-products .facets-title-box:not(.drawer-heading) {
  display: none;
}

.search-result-products .product-contain {
  width: 100%;
}

.facet-sidebar-container + .product-contain {
  padding-left: 40px;
}

facet-sidebar.filter-toggle {
  width: 100%;
}

.drawer-empty-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 50vh;
}

.drawer-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.drawer-empty-heading {
  padding: 0;
}

.drawer-empty-desc {
  margin: 0;
}

.shipping-progress-bar {
  display: block;
  height: 6px;
  border-radius: var(--card-radius);
  border: 1px solid rgba(var(--color-text));
  overflow: hidden;
}

.shipping-progress-bar:before {
  content: "";
  height: inherit;
  background: rgba(var(--color-text));
  transform-origin: left;
  transform: scaleX(var(--progressbar-width, 0));
  transition: transform 0.5s ease-in-out;
  border-radius: var(--card-radius);
  display: block;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table,
td,
th {
  border: 0;
  vertical-align: middle;
}

td,
th {
  padding: 14px 20px;
}

.pickup-availability-list {
  width: 100%;
  counter-reset: item-counter;
}

.pickup-availability-list-item {
  position: relative;
  padding: 28px 84px 28px 28px;
  transition: 0.3s ease-in-out;
  z-index: 1;
  margin-bottom: 16px;
}

.pickup-availability-list-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-background-foreground));
  z-index: -1;
  transform: scaleY(0.01);
  transform-origin: bottom center;
  transition: transform 0.3s;
  border-radius: var(--block-card-radius);
}

.pickup-availability-list-item:hover:before {
  transform: scaleY(1);
}

.pickup-availability-list-item:hover::after {
  -webkit-text-fill-color: rgba(var(--color-text), 0.2);
}

.pickup-availability-list-item::after {
  counter-increment: item-counter;
  content: "0" counter(item-counter);
  position: absolute;
  line-height: 1;
  right: 12px;
  top: 30px;
  font-weight: var(--font-weight-heading);
  font-size: var(--heading-h2);
  color: rgba(var(--color-text), 0.2);
  transition: 0.3s ease-in-out;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.pickup-location-title {
  text-transform: uppercase;
  padding-bottom: 12px;
}

.pickup-availability-preview {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  color: rgba(var(--color-text-success));
}

.pickup-availability-preview svg {
  width: 18px;
  margin: 2px 8px 0 0;
  padding: 5px;
  background-color: currentColor;
  border-radius: 100%;
}

.pickup-availability-preview svg path {
  fill: rgba(var(--color-background-drawer));
}

.pickup-availability-address {
  padding-left: 30px;
}

.pickup-availability-address p {
  margin: 0;
}

/* breadcrumb */

.breadcrumb-nav {
  display: flex;
  align-items: center;
  gap: 19px;
  margin: 30px 0;
}

.breadcrumb-nav > span {
  color: rgba(var(--color-text), 0.5);
}

.breadcrumb-link {
  display: inline-flex;
  align-items: center;
  gap: 19px;
  color: rgba(var(--color-text));
}

.facets-wrapper {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  margin-bottom: 10px;
}

.facets-sort-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  position: relative;
}

.facets-button-show {
  gap: 8px;
  margin: 0px;
}

.facets-grid-btn {
  display: flex;
  align-items: center;
  gap: 19px;
  cursor: pointer;
}

.facets-grid-btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.facets-grid-btn-icon svg {
  display: block;
}

.facets-product-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.facets-shortby-title {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: var(--text-size-small);
  background-color: rgba(var(--color-background));
  border: 1px solid rgba(var(--color-text));
}

.facets-shortby-title svg {
  width: 16px;
  height: auto;
}

.facets-sortby-filter {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgba(var(--color-background));
  z-index: 1;
  padding: 7px 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  min-width: 200px;
  max-width: 240px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgba(var(--color-text));
  transform: translateY(30px);
}

.facets-filters-sort[open] .facets-sortby-filter {
  transform: translateY(0);
  opacity: 1;
}

.facets-sortby-item {
  position: relative;
}

.facets-sortby-item .filter-sort-label {
  width: 100%;
  text-align: left;
  margin: 0;
  cursor: pointer;
}

.filter-sort-checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  /* pointer-events: none; */
}
.filter-sort-checkbox:focus-visible + label {
  outline-offset: 3px;
  outline: -webkit-focus-ring-color auto 2px;
  transition: none !important;
}
.facets-filters-options-item
  input:is([type="checkbox"], [type="radio"]):focus-visible,
.filter-swatchs-item
  input:is([type="checkbox"], [type="radio"]):focus-visible
  + label {
  outline-offset: 3px;
  outline: -webkit-focus-ring-color auto 2px !important;
  transition: none !important;
}
.facets-sortby-item .filter-sort-label span {
  display: block;
  padding: 7px 10px 7px 40px;
  font-size: var(--text-size-small);
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid var(--color-card-border);
  position: relative;
}
.facets-sortby-item .filter-sort-label:hover span,
.facets-sortby-item .filter-sort-checkbox:checked + label span {
  background-color: rgba(var(--color-background-foreground));
}

.facets-sortby-item .filter-sort-label span:before,
.facets-sortby-item .filter-sort-label span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-color: rgba(var(--color-background));
  z-index: 1;
  border: 1px solid rgba(var(--color-divider));
  border-radius: 50%;
  transition: all 0.3s ease;
}

.facets-sortby-item .filter-sort-label span:before {
  width: 16px;
  height: 16px;
}
.facets-sortby-item .filter-sort-label span:after {
  width: 10px;
  height: 10px;
  left: 18px;
  background-color: rgba(var(--color-text));
  visibility: hidden;
}
.facets-sortby-item .filter-sort-label:hover span:before,
.facets-sortby-item .filter-sort-checkbox:checked + label span:before {
  border: 1px solid rgba(var(--color-text));
}

.facets-sortby-item .filter-sort-label:hover span:after,
.facets-sortby-item .filter-sort-checkbox:checked + label span:after {
  background-color: rgba(var(--color-text));
  visibility: visible;
}

.facets-grid-btn-icon:not(.active) {
  color: rgba(var(--color-text) / 0.2);
}

.remove-facet-card {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 11px;
}

.remove-facet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px 6px 12px;
  background-color: rgba(var(--color-background-foreground));
  font-size: var(--text-size-base);
  position: relative;
  border-radius: 4px;
  gap: 10px;
}

.remove-facet:nth-last-child(2) {
  margin-right: 24px;
}

.remove-icon {
  padding: 2px;
}

.remove-icon svg {
  display: block;
  width: 10px;
  height: 10px;
  min-width: 10px;
}

.product-card-grid {
  display: flex;
  gap: var(--space-column, 0px);
}

.product-card-item {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
.product-card-item .product-badge {
  position: absolute;
  top: 10px;
  z-index: 1;
  left: 10px;
}
.product-card-wrapper {
  position: relative;
  overflow: hidden;
}
.product-card-item .product-unit-price {
  flex: 0 0 100%;
  font-size: var(--text-size-small);
  font-style: italic;
}
.product-card-item .media-wrapper slider-main-component.hover-slider {
  display: none;
}
@media screen and (pointer: fine) {
  .product-card-item .media-wrapper slider-main-component.hover-slider {
    display: block;
  }
}
.card-border-enabled.product-grid-style-grid .product-card-wrapper,
.card-border-enabled.product-grid-style-standard
  .product-card-image
  .media-wrapper {
  border: 1px solid rgba(var(--color-product-card-border));
}

.product-grid-style-grid .product-card-wrapper,
.product-grid-style-standard .product-card-image .media-wrapper {
  border-radius: var(--card-radius);
  overflow: hidden;
}

.product-grid-style-grid .product-card-wrapper {
  background-color: rgba(var(--color-background-card));
}

.product-card-image {
  position: relative;
}

.product-grid-style-grid .product-card-content {
  padding: 10px 18px;
}
.product-card-content {
  padding: 10px 0px;
}

.product-title {
  display: block;
  margin-bottom: 6px;
}

.product-add-to-cart {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.add-to-cart-icon {
  background-color: rgba(var(--color-text));
  color: rgba(var(--color-background));
  width: 44px;
  height: 44px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 50%;
}

.quick-view-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-view-icon svg {
  width: 18px;
  height: 18px;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  padding: 12px;
  gap: 8px;
}

.page-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-in-out;
  margin: 0;
  border-radius: 60px;
  cursor: pointer;
  background-color: rgba(var(--color-background-foreground));
}

.page-nav-link:is(.active, :hover) {
  background-color: rgba(var(--color-text));
  color: rgba(var(--color-background));
}

.recipient-form-wrapper .recipient-check {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  cursor: pointer;
}

.recipient-form-wrapper .recipient-check:before {
  content: "";
  width: 20px;
  height: 20px;
  transition: 120ms transform ease-in-out;
  display: block;
  border: 2px solid rgba(var(--color-text));
  border-radius: 3px;
}

.recipient-form-wrapper .recipient-check .checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  left: 4px;
  width: 12px;
  height: 12px;
  min-width: 12px;
  transition: 120ms transform ease-in-out;
}

.recipient-form-wrapper .checkbox:checked + .recipient-check .checkmark {
  transform: translateY(-50%) scale(1);
}

.recipient-form-wrapper .recipient-fields {
  display: none;
}

.recipient-form-wrapper:has(.checkbox:checked) .recipient-fields {
  display: block;
}

.reset-password-card {
  max-width: 602px;
  margin: 0px auto;
}

.reset-password-card .button-reset-password {
  margin: 0px;
}

.swiper-button.swiper-button-lock {
  display: none;
}

.rte > :where(div) {
  font-size: inherit;
}

.rte
  :where(.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6):not(
    :where([class~="not-rte"] *)
  ) {
  margin: 20px 0;
}

.rte :where(img):not(:where([class~="not-rte"] *)) {
  margin: 20px 0;
}

.rte a:not(.button, .button-underline, .social-icons-link, .page-nav-link) {
  background: linear-gradient(currentColor, currentColor) 0 min(100%) / 100% 1px
    no-repeat;
  background-position-x: center;
  transition: background-size 0.3s cubic-bezier(0.3, 1, 0.3, 1);
}

.rte :where(ul, ol):not(.social-icons-list, :where([class~="not-rte"] *)) {
  padding-left: 18px;
  margin-top: 20px;
}
.rte :where(ul, ol):not(.social-icons-list) {
  list-style-position: inside;
}

.rte :where(ul):not(:where([class~="not-rte"] *)) {
  list-style-type: disc;
}

.rte :where(li):not(:where([class~="not-rte"] *)) {
  margin-top: 10px;
}

.rte :where(blockquote) {
  position: relative;
}

.rte :where(blockquote):not(:where([class~="not-rte"] *)) {
  padding: 10px 30px;
  margin: 20px 0;
  font-style: italic;
  color: rgba(var(--color-text));
}

.rte :where(blockquote):not(:where([class~="not-rte"] *)):before {
  content: "\275d";
  display: block;
  mask-size: 40px;
  display: inline-block;
  font-size: calc(var(--text-size-xlarge) * 1.5);
  margin-right: 10px;
}

.rte table {
  border: 1px solid rgba(var(--color-divider));
  margin: 20px 0;
}

.rte table th {
  background: rgba(var(--color-background-foreground));
  text-align: inherit;
}

.rte table td {
  border-top: 1px solid rgba(var(--color-divider));
}

.table-responsive {
  max-width: 100%;
  min-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#ContactUsForm .form-flex-item .button {
  margin: 0;
}
.facets-button-box {
  display: flex;
  align-items: center;
}
.product-count {
  padding-left: 10px;
  flex: 0 0 auto;
  max-width: 110px;
}

@media (min-width: 768px) {
  .sticky-card {
    position: sticky;
  }

  .top-0 {
    top: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 48px;
    height: 48px;
  }
  .drawer:is(.top, .bottom) .predictive-search-tab-item .card-grid-view {
    --card-item-perrow: 4;
  }
}

@media (min-width: 1025px) {
  .facets-sortby-close {
    display: none;
  }
  .section-header-with-button {
    grid-template-columns: 1fr 0.5fr;
  }
  .swiper-slider:not(.swiper-initialized) .product-card-item {
    max-width: 25%;
    padding-right: 20px;
  }
  .product-add-to-cart {
    right: 30px;
    transform: scale(0.5);
  }

  .add-to-cart-icon {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .product-card-wrapper:is(:hover, :focus-visible, :focus-within)
    .product-add-to-cart {
    transform: scale(1);
  }

  .product-card-wrapper:is(:hover, :focus-visible, :focus-within)
    .add-to-cart-icon {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .drawer-close:hover {
    transform: scale(1.1) rotate(90deg);
  }

  .drawer-mouse-cursor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 99;
    position: fixed;
    top: calc(0% - 35px);
    left: calc(0% - 35px);
    border-radius: 50%;
    color: rgba(var(--color-text));
    background-color: rgba(var(--color-background));
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: none;
    will-change: transform;
    transition: width 0.5s cubic-bezier(0.7, 0, 0.3, 1),
      height 0.5s cubic-bezier(0.7, 0, 0.3, 1),
      opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    opacity: 0;
  }

  .drawer .overlay:hover .drawer-mouse-cursor {
    width: 70px;
    height: 70px;
    opacity: 1;
  }

  .filter-style-sidebar .facets-filte-drawer {
    position: static;
    max-width: 370px;
    cursor: pointer;
    --drawer-position-x: 0;
    visibility: visible;
    pointer-events: all;
    z-index: auto;
  }
  .filter-style-sidebar .drawer-inner-card {
    margin: 0;
    padding: 30px 0;
    transition: unset;
    opacity: 1;
  }
  .filter-style-sidebar .drawer-head,
  .filter-style-sidebar .sidebar__form > .button,
  .filter-style-sidebar facets-drawer {
    display: none;
  }
  .filter-style-sidebar .drawer-body {
    padding: 0 4px;
  }
}

@media (min-width: 1200px) {
  .drawer-inner-card {
    max-width: 600px;
    padding: 25px 0px;
  }
  .drawer-head,
  .drawer-body {
    padding-left: 40px;
    padding-right: 40px;
  }
  .search-result-products .product-contain .product-card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .button-right {
    right: 15px;
  }

  .drawer-mouse-cursor {
    display: none;
  }

  .product-count,
  .product-count > span {
    font-size: var(--text-size-xsmall);
  }

  .facets-filte-drawer {
    top: unset;
    bottom: 0px;
    --drawer-position-x: 100%;
  }

  .facets-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .facets-product-wrapper {
    gap: 6px;
  }

  facets-drawer .facets-button-show {
    padding: 8px 14px;
    min-width: auto;
    min-height: auto;
    margin: 0;
    font-size: var(--text-size-small);
  }

  .facets-button-box .facets-title-box {
    display: none;
  }

  .facets-filte-drawer {
    display: flex;
    align-items: flex-end;
  }

  .facets-filte-drawer .drawer-inner-card {
    width: 100%;
    max-width: 100%;
    height: 80vh;
    padding: 0 0 10px;
    padding-top: 30px;
    transform: translateY(calc(var(--drawer-position-x) * 1));
    background-color: rgba(var(--color-background));
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    opacity: 0;
    transition: transform 0.5s ease-in-out;
    position: relative;
  }

  .facets-filte-drawer .drawer-inner-card::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    width: 54px;
    height: 6px;
    background-color: rgba(var(--color-text), 0.2);
    margin: 0 auto;
    border-radius: 4px;
  }

  .facets-filte-drawer .drawer-close {
    display: none;
  }

  .facets-filte-drawer.open .drawer-inner-card {
    opacity: 1;
  }

  .facets-filte-drawer drawer-header {
    padding: 0 30px;
  }

  .facets-filte-drawer .drawer-content-contain {
    padding: 10px;
    background-color: rgba(var(--color-background-foreground));
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow-y: auto;
    border: 1px solid rgba(var(--color-card-border));
  }

  .facets-details-wrapper .facets-accordion {
    border-top: 0;
    padding: 15px 15px;
    background-color: rgba(var(--color-background));
    border-radius: var(--block-card-radius);
    margin-bottom: 11px;
    border-radius: 6px;
  }

  .facets-accordion:not([open]) .facets-arrow {
    transform: rotate(-90deg);
  }

  .facet-sidebar-container .button {
    margin-bottom: 10px;
  }

  .facets-sortby-filter {
    position: fixed;
    top: unset;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    z-index: 4;
    border-radius: 16px;
    overflow: unset;
  }

  .facets-sortby-close {
    position: absolute;
    top: -17px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    z-index: 1;
    background-color: rgba(var(--color-text));
    border-radius: 15px;
    left: 0;
    margin: 0 auto;
    color: rgba(var(--color-background));
    border: 1px solid rgba(var(--color-background));
    padding: 6px;
  }

  .modal-dialog-card {
    padding: 0px;
  }

  .newsletter-imgbox {
    display: none;
  }

  .product-variants-box .variant-swatches-box {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .text-center-left,
  .text-center-left,
  .text-bottom-left {
    left: 15px;
  }
  .text-top-right,
  .text-center-right,
  .text-bottom-right {
    right: 15px;
  }
  .predictive-search-products-grid {
    grid-template-columns: repeat(auto-fill, minmax(170px, 3fr));
  }
}
@media (max-width: 767px) {
  .drawer {
    padding: 16px;
  }
  .facets-filte-drawer {
    padding-bottom: 0px;
  }
  .drawer-inner-card {
    border-radius: 12px;
  }
  drawer-header {
    display: block;
    margin-bottom: 10px;
  }
  .drawer-heading {
    padding-bottom: 14px;
  }
  .search-input-box {
    padding: 14px;
  }
  .product-add-to-cart {
    top: 10px;
    right: 10px;
  }
  .facets-sortby-item .filter-sort-label span {
    font-size: var(--text-size-large);
  }
  .add-to-cart-icon {
    width: 30px;
    height: 30px;
  }
  .quick-view-icon svg {
    width: 14px;
    height: 14px;
  }
  .filter-variant-item {
    padding: 0px;
    /* border: 1px solid rgba(var(--color-card-border), 0.1); */
  }

  .product-grid-style-grid .product-card-content {
    padding: 6px 10px;
  }
  .footer-payment-icons svg.icon.payment-icon {
    width: 44px;
    height: 44px;
  }
  /* .filter-swatchs-list {
    grid-gap: 6px;
  } */
  .filter-swatchs-item {
    padding: 2px;
  }
  .filter-swatchs-list {
    grid-gap: 0px;
  }
  .price-main {
    font-size: var(--text-size-small);
  }
  .variant-swatches-list.square .swatch-label {
    width: 65px;
    height: 45px;
  }
  .collection-title {
    font-size: var(--text-size-small);
  }
  .drawer:is(.top, .bottom) .drawer-inner-card {
    padding-top: 20px;
    height: 100%;
  }
}
