.video-height-large {
  height: 800px;
}

.video-height-medium {
  height: 600px;
}

.video-height-small {
  height: 400px;
}

.video-media-wrapper {
  position: relative;
  padding: 50px;
}

.video-media-wrapper:not(.video-onscroll) .media-wrapper.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-wrapper.video-wrapper .video-iframe {
  z-index: 3;
}

.video-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.video-content-inner {
  position: absolute;
  width: 100%;
  max-height: 98%;
  overflow-y: auto;
}

.video-play-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 98px;
  background-color: rgba(var(--color-button-background));
  color: rgba(var(--color-button-text));
  border-radius: 50%;
  margin-top: 24px;
  margin-bottom: 24px;
  z-index: 1;
  cursor: pointer;
}

.video-icon-play {
  position: relative;
}

.video-play-button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(var(--color-button-background), 0.4);
  animation: throbbing 2s ease infinite;
}

@media (max-width: 767px) {
  .video-media-wrapper {
    padding: 20px;
  }
  .video-content-wrapper {
    padding: 20px 0;
  }
  .video-content-inner:is(
      .text-top-left,
      .text-top-right,
      .text-center-left,
      .text-center-right,
      .text-bottom-left,
      .text-bottom-right
    ) {
    left: 0;
    right: 0;
  }
}
