.wide-media-card {
  display: flex;
  overflow: hidden;
  position: relative;
  --item-height: 650px;
}
.wide-media-card.media-height-small .wide-media-item {
  height: 500px;
}
.wide-media-card.media-height-medium .wide-media-item {
  height: 650px;
}
.wide-media-card.media-height-large .wide-media-item {
  height: 800px;
}
.wide-media-item {
  position: relative;
  transition: 0.8s ease;
}

.wide-media-image {
  width: 100%;
  height: 100%;
}

.wide-media-content-overlay {
  position: absolute;
  padding: 15px;
  max-height: 100%;
  overflow-y: auto;
  transition: 0.5s ease;
}

@media (min-width: 1025px) {
  .split-banner-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .wide-media-item {
    flex: 1;
    transition: 0.8s ease;
  }
  .wide-media-item:is(.active, :hover) {
    flex: 1.8;
  }
  .wide-media-content-overlay {
    opacity: 0;
    visibility: hidden;
  }
  .wide-media-item:is(.active, :hover) .wide-media-content-overlay {
    opacity: 1;
    visibility: visible;
  }
  .wide-media-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50vw + 6px);
  }
  .wide-media-content-overlay {
    max-width: 220px;
  }
}

@media (min-width: 1200px) {
  .wide-media-content-overlay {
    max-width: 300px;
    min-width: 300px;
    padding-left: 25px;
  }
}

@media (min-width: 1441px) {
  .wide-media-content-overlay {
    max-width: 400px;
    min-width: 400px;
  }
}

@media (max-width: 1024px) {
  .wide-media-card {
    display: grid;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    grid-auto-columns: minmax(75%, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(75%, 1fr));
    grid-auto-flow: column;
  }
  .wide-media-item {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}
